/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : dic 3, 2020, 8:05:22 a.m.
    Author     : Fabio A. González Sosa
*/

:root {
    --primary-navbar-color: #{bPersonalizaciones.cssPrimaryNavbarColor.valor};
    --primary-navbar-color-ligthen: #{bPersonalizaciones.ligthen(bPersonalizaciones.cssPrimaryNavbarColor.valor, 10)};
    --primary-navbar-text-color: #{bPersonalizaciones.cssPrimaryNavbarTextColor.valor};
    --secondary-navbar-color: #{bPersonalizaciones.cssSecondaryNavbarColor.valor};
    --secondary-navbar-color-ligthen: #{bPersonalizaciones.ligthen(bPersonalizaciones.cssSecondaryNavbarColor.valor, 10)};
    --secondary-navbar-text-color: #{bPersonalizaciones.cssSecondaryNavbarTextColor.valor};
    --btn-color: #{bPersonalizaciones.cssBtnColor.valor};
    --btn-text-color: #{bPersonalizaciones.cssBtnTextColor.valor};
    --panel-color: #{bPersonalizaciones.cssPanelColor.valor};
    --panel-text-color: #{bPersonalizaciones.cssPanelTextColor.valor};
    --btn-checkbox-color: #{bPersonalizaciones.cssCheckboxColor.valor};
}
