<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:sec="http://www.springframework.org/security/tags"
    >

    <ui:composition template="../templates/template.xhtml">
        <ui:define name="content">
            <sec:authorize access="isAuthenticated()" var="isAuthenticated" />

            <ui:fragment rendered="${isAuthenticated eq true and cuenta.usuarioLogueado.usuario.estado eq 'A'}">
                <ui:include src="/fragments/account_info.xhtml" />
            </ui:fragment>

            <ui:fragment rendered="${isAuthenticated eq true}">
                <ui:include src="/fragments/account_reset_pass.xhtml" />
            </ui:fragment>

            <ui:fragment rendered="${isAuthenticated eq false}">
                <ui:include src="/fragments/account_recover_pass.xhtml" />
            </ui:fragment>
        </ui:define>
    </ui:composition>
</html>