<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      >

    <ui:composition template="../templates/template.xhtml">
        <ui:define name="content">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <sepsa:panel type="default" id="calculadora_panel">
                        <f:facet name="panelHeader">
                            Calculadora de Operaciones
                        </f:facet>
                        <f:facet name="panelBody">
                            <ui:include src="/app/abm/factura/fragments/calculator_base.xhtml">
                                <ui:param name="beanCalculadora" value="#{calculadoraTmp.calculadora}"/>
                            </ui:include>
                        </f:facet>
                    </sepsa:panel>
                </div>
            </div>
        </ui:define>
    </ui:composition>

</html>