<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      >
    <ui:composition template="../templates/template.xhtml">
        <ui:define name="content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <sepsa:panel type="default" id="faq_panel">
                        <f:facet name="panelHeader">
                            Preguntas Frecuentes
                        </f:facet>
                        <f:facet name="panelBody">
                            <ul class="app_faq_list">
                                <ui:repeat var="preguntaFrecuente" value="#{faq.preguntas}">
                                    <!--
                                    <li class="app_faq_list_item">
                                        <h3 class="app_faq_list_item_question">#{preguntaFrecuente.pregunta}</h3>
                                        <p class="app_faq_list_item_answer">#{preguntaFrecuente.respuesta}</p>
                                    </li>
                                    -->
                                    <li class="app_faq_list_item">
                                        <p><strong>#{preguntaFrecuente.pregunta}</strong></p>
                                        <p>#{preguntaFrecuente.respuesta}</p>
                                    </li>
                                </ui:repeat>
                            </ul>
                        </f:facet>
                    </sepsa:panel>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>