<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:sec="http://www.springframework.org/security/tags"
      >
    <h:body>
        <ui:composition template="../templates/template.xhtml">
            <ui:define name="content">
                <div class="container clearfix">
                    <h1 style="margin-top: 5rem !important;">BIENVENIDO !</h1>
                    <div style="margin-top: 2rem !important;" />
                    <h:outputText style="font-size: 2rem" value="HOME DEL ADMINISTRADOR" rendered="#{usuarioLogueado.esAdministrador()}"/>
                    <h:outputText style="font-size: 2rem" value="HOME DEL COMPRADOR" rendered="#{usuarioLogueado.esComprador()}"/>
                    <h:outputText style="font-size: 2rem" value="HOME DEL PROVEEDOR" rendered="#{usuarioLogueado.esProveedor()}"/>
                    <h:outputText style="font-size: 2rem" value="HOME DE LA ENTIDAD FINANCIERA" rendered="#{usuarioLogueado.esEntidadFinanciera()}"/>

                    <sec:authorize access="hasRole('ROLE_ENTIDAD_FINANCIERA')" >
                        <ui:include src="/fragments/home_entidad.xhtml" />
                    </sec:authorize>
                </div>
            </ui:define>
        </ui:composition>
        <br />
    </h:body>
</html>