<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://xmlns.jcp.org/jsf/core"          
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      >
    <ui:composition template="../templates/template.xhtml">
        <ui:define name="content">
            <!-- SOBRECARGA EL ESTILO VAIRO ORIGINAL DEL JQUERY UI -->
            <style type="text/css">
                .ui-selectonelistbox {
                    width: 100% !important;
                    background: transparent;
                    border: none;
                }

                .ui-selectlistbox-item {
                    padding: 10px !important;
                }
            </style>

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <sepsa:panel type="default" id="faq_panel">
                        <f:facet name="panelHeader">
                            Seleccionar Perfil
                        </f:facet>
                        <f:facet name="panelBody">
                            <h:form id="seleccionar_perfil_form" role="form">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                                <div class="form-group">
                                    <p:selectOneListbox id="seleccionar_perfil_list" value="#{confirmarPerfilMB.perfilSeleccionado}" var="perfil" converter="omnifaces.SelectItemsConverter" >
                                        <f:selectItems value="#{usuarioLogueado.perfiles}"/>
                                        <p:column styleClass="list-group-item">
                                            <h4><h:outputText value="#{confirmarPerfilMB.getPerfilAsText(perfil)}" /></h4>
                                        </p:column>
                                    </p:selectOneListbox>
                                </div>

                                <div class="form-group" style="margin: 0px;">
                                    <p:commandButton value="Confirmar" action="#{confirmarPerfilMB.confirmar}" />
                                </div>

                            </h:form>
                        </f:facet>
                    </sepsa:panel>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>