<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="analisis_facturas_form">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>                    

        <h4><h:outputText value="¿Está seguro que desea aceptar la/s siguiente/s factura/s para su análisis de factibilidad para desembolso?" /></h4>
        <br/>

        <label style="margin-top: 10px;">Comentario Adicional</label>
        <p:inputTextarea class="form-control" rows="4" value="#{facturas.comentarioCambioEstadoFactura}"/>
        <br/>

        <p:separator />
        <p:commandButton value="Confirmar" onclick="PF('analisis_facturas_dialog_dlg').hide();" action="#{facturas.aceptarAnalisisFacturas}"/>
        &nbsp;&nbsp;
        <p:commandButton type="button" onclick="PF('analisis_facturas_dialog_dlg').hide();" value="Cancelar" />
    </h:form>

</ui:composition>
