<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    >

    <h:form id="calculadora_form" class="form-horizontal" role="form">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

        <sec:authorize access="hasAnyRole('ROLE_ENTIDAD_FINANCIERA', 'ROLE_ADMINISTRADOR')">
            <div class="form-group row">
                <div class="col-md-12">
                    <p:outputLabel>Proveedor</p:outputLabel>
                </div>
                <div class="col-md-12">
                    <p:selectOneMenu value="#{beanCalculadora.input.proveedor}" class="app_form_input" converter="omnifaces.SelectItemsConverter" var="proveedor" filter="true" filterMatchMode="contains">
                        <f:selectItem itemValue="#{null}" itemLabel="" />
                        <f:selectItems value="#{beanCalculadora.input.proveedores}" />
                        <p:column>
                            <h:outputText value="#{utils.personaLabel(proveedor)}" escape="false"/>
                        </p:column>
                    </p:selectOneMenu>
                </div>
            </div>
        </sec:authorize>

        <sec:authorize access="hasAnyRole('ROLE_PROVEEDOR', 'ROLE_ENTIDAD_FINANCIERA', 'ROLE_ADMINISTRADOR')">
            <div class="form-group row">
                <div class="col-md-12">
                    <p:outputLabel>Comprador</p:outputLabel>
                </div>
                <div class="col-md-12">
                    <p:selectOneMenu value="#{beanCalculadora.input.comprador}" class="app_form_input" converter="omnifaces.SelectItemsConverter" var="comprador" filter="true" filterMatchMode="contains">
                        <f:selectItem itemValue="#{null}" itemLabel="" />
                        <f:selectItems value="#{beanCalculadora.input.compradores}" />
                        <p:column>
                            <h:outputText value="#{utils.personaLabel(comprador)}" escape="false"/>
                        </p:column>
                    </p:selectOneMenu>
                </div>
            </div>
        </sec:authorize>

        <sec:authorize access="hasAnyRole('ROLE_PROVEEDOR', 'ROLE_ADMINISTRADOR')">
            <div class="form-group row">
                <div class="col-md-12">
                    <p:outputLabel>Entidad Financiera</p:outputLabel>
                </div>
                <div class="col-md-12">
                    <p:selectOneMenu value="#{beanCalculadora.input.entidadFinanciera}" class="app_form_input" converter="omnifaces.SelectItemsConverter" var="entidad" filter="true" filterMatchMode="contains">
                        <p:ajax listener="#{beanCalculadora.onEntidadSelectedChanged}" />
                        <f:selectItem itemValue="#{null}" itemLabel="" />
                        <f:selectItems value="#{beanCalculadora.input.entidadesFinancieras}" />
                        <p:column>
                            <h:outputText value="#{utils.personaLabel(entidad)}" escape="false"/>
                        </p:column>
                    </p:selectOneMenu>
                </div>
            </div>
        </sec:authorize>

        <div class="form-group row">
            <div class="col-md-12">
                <p:outputLabel>Monto Factura</p:outputLabel>
            </div>
            <div class="col-md-12">
                <p:inputText value="#{beanCalculadora.input.montoFactura}" class="app_form_input" onfocus="inputNumericOnFocus(this)" disabled="#{beanCalculadora.input.canEditMontoFactura eq false}">
                    <p:ajax event="keyup" update="@this" global="false" delay="200" />
                    <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                </p:inputText>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <p:outputLabel>Fecha de Pago de Factura</p:outputLabel>
            </div>
            <div class="col-md-12">
                <div class="input-group">
                    <p:calendar value="#{beanCalculadora.input.fechaPagoFactura}" class="app_form_input_addon_right" mindate="#{now}" navigator="true" yearRange="c-100:c+100" pattern="dd/MMM/yyyy" mode="popup" locale="es" disabled="#{beanCalculadora.input.canEditFechaPagoFactura eq false}"/>
                    <span class="input-group-addon"><i class="fa fa-calendar"/></span>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <p:outputLabel>Fecha de Adelanto de Factura</p:outputLabel>
            </div>
            <div class="col-md-12">
                <div class="input-group">
                    <p:calendar value="#{beanCalculadora.input.fechaAdelantoFactura}" class="app_form_input_addon_right" mindate="#{now}" navigator="true" yearRange="c-100:c+100" pattern="dd/MMM/yyyy" mode="popup" locale="es" />
                    <span class="input-group-addon"><i class="fa fa-calendar"/></span>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <p:commandButton value="Calcular" action="#{beanCalculadora.calcular}" />
                &#160;&#160;
                <p:commandButton value="Limpiar" action="#{beanCalculadora.limpiar}" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12" style="margin-top: 10px;">
                <sepsa:messages id="calculadora_msgs"/>
            </div>
        </div>

        <h:panelGroup layout="block" rendered="#{beanCalculadora.output ne null}">
            <hr/>

            <div class="form-group row">
                <div class="col-md-3">
                    <h:outputText value="Días de Adelanto" />
                </div>
                <div class="col-md-9" style="text-align: right;">
                    <h:outputText value="#{beanCalculadora.htmlDiasAdelantados()}" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-3">
                    <h:outputText value="Tasa de Interés" />
                </div>
                <div class="col-md-9" style="text-align: right;">
                    <h:outputText value="#{beanCalculadora.htmlPorcentajeTotalDescuento()}" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-3">
                    <h:outputText value="Descuento" />
                </div>
                <div class="col-md-9" style="text-align: right;">
                    <h:outputText value="#{beanCalculadora.htmlMontoTotalDescuento()}" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-3">
                    <h:outputText value="Monto a Desembolsar"/>
                </div>
                <div class="col-md-9" style="text-align: right;">
                    <h:outputText value="#{beanCalculadora.htmlMontoTotalDesembolso()}" styleClass="h3" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-3">
                    <h:outputText value="Detalle Entidad Financiera" />
                    <span class="text-muted">Desplegar el panel para ver más detalles</span>
                </div>
                <div class="col-md-9">
                    <!--
                     * Al usar activeIndex=null se permite mostrar el panel cerrado por defecto.
                     * Fuente: https://stackoverflow.com/a/22190720
                    -->
                    <p:accordionPanel activeIndex="null">
                        <p:tab>
                            <h:outputText value="#{beanCalculadora.htmlDetalleEntidad()}" escape="false" />
                        </p:tab>
                    </p:accordionPanel>
                </div>
            </div>
        </h:panelGroup>

    </h:form>

</ui:composition>