<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="conformacion_directa_factura_form">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>                    

        <h4><h:outputText value="¿Está seguro que desea conformar de manera directa las facturas seleccionadas?" /></h4>
        <br/>

        <p>Al conformar de manera directa las facturas seleccionadas, no se consideran los montos relacionados a notas de crédito, retenciones tributarias ni otros cargos externos para el cálculo del monto final conformado de la factura. Se recomienda la conformación individual de cada factura para no incurrir en montos conformados inconsistentes.</p>
        <br/>

        <label style="margin-top: 10px;">Comentario Adicional</label>
        <p:inputTextarea class="form-control" rows="4" value="#{facturas.comentarioCambioEstadoFactura}"/>
        <br/>

        <p:separator />
        <p:commandButton value="Confirmar" onclick="PF('conformacion_directa_factura_dialog_dlg').hide();" action="#{facturas.conformarFacturas}"/>
        &nbsp;&nbsp;
        <p:commandButton type="button" onclick="PF('conformacion_directa_factura_dialog_dlg').hide();" value="Cancelar" />
    </h:form>

</ui:composition>
