<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="conformacion_factura_form">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

        <div class="form-group row">
            <div class="col-md-12">
                <h3>Conformación de Factura</h3>
            </div>
        </div>

        <p:separator />

        <div class="form-group row">
            <div class="col-md-4">
                <h4>Número</h4>
            </div>
            <div class="col-md-8">
                <h:outputText value="#{facturas.facturaSelected.numero}" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <h4>Razón Social Proveedor</h4>
            </div>
            <div class="col-md-8">
                <h:outputText value="#{facturas.facturaSelected.proveedorRazonSocial}" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <h4>RUC Proveedor</h4>
            </div>
            <div class="col-md-8">
                <h:outputText value="#{facturas.facturaSelected.proveedorRuc}" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <h4>Moneda</h4>
            </div>
            <div class="col-md-8">
                <h:outputText value="GUARANIES" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <h4>Monto Total Imponible</h4>
            </div>
            <div class="col-md-8">
                <h:outputText value="Gs. "/>
                <h:outputText value="#{facturas.facturaSelected.montoTotalImponible}">
                    <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                </h:outputText>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <h4>Monto Total IVA</h4>
            </div>
            <div class="col-md-8">
                <h:outputText value="Gs. "/>
                <h:outputText value="#{facturas.facturaSelected.montoTotalIva}">
                    <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                </h:outputText>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <h4>Monto Total</h4>
            </div>
            <div class="col-md-8">
                <strong>
                    <h:outputText value="Gs. "/>
                    <h:outputText value="#{facturas.facturaSelected.montoTotal}">
                        <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                    </h:outputText>
                </strong>
            </div>
        </div>

        <p:separator />

        <div class="form-group row">
            <label class="form-control-label col-md-2">Monto Crédito</label>
            <div class="col-md-10">
                <p:inputText class="form-control app_form_input" value="#{facturas.conformacionInput.montoNotaCredito}" onfocus="inputNumericOnFocus(this)">
                    <p:ajax event="keyup" update="@this" global="false" delay="200" />
                    <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                </p:inputText>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Monto Retención</label>
            <div class="col-md-7">
                <p:inputText class="form-control app_form_input" value="#{facturas.conformacionInput.valorRetencion}" onfocus="inputNumericOnFocus(this)">
                    <p:ajax event="keyup" update="@this" global="false" delay="200" />
                    <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                </p:inputText>
            </div>
            <div class="col-md-3">
                <label class="form-control-label">Valor Porcentual</label>
                <p:selectBooleanCheckbox value="#{facturas.conformacionInput.valorRetencionEsPorcentual}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Otros Cargos</label>
            <div class="col-md-10">
                <p:inputText class="form-control app_form_input" value="#{facturas.conformacionInput.montoOtrosCargos}" onfocus="inputNumericOnFocus(this)">
                    <p:ajax event="keyup" update="@this" global="false" delay="200" />
                    <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                </p:inputText>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Comentario Adicional</label>
            <div class="col-md-10">
                <p:inputTextarea class="form-control" rows="4" value="#{facturas.comentarioCambioEstadoFactura}"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <sepsa:messages />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <p:commandButton value="Continuar" action="#{facturas.beforeConformarFactura}"/>
                &nbsp;&nbsp;
                <p:commandButton type="button" value="Cancelar" onclick="PF('conformacion_factura_dialog_dlg').hide();"  />
            </div>
        </div>
    </h:form>

</ui:composition>
