<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="confirmacion_conformacion_factura_form">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

        <div class="form-group row">
            <div class="col-md-12">
                <h3>Conformación de Factura</h3>
            </div>
        </div>

        <p:separator />

        <div class="form-group row">
            <div class="col-md-4">
                <h5>Número</h5>
            </div>
            <div class="col-md-8">
                <h:outputText value="#{facturas.facturaSelected.numero}" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <h5>Razón Social Proveedor</h5>
            </div>
            <div class="col-md-8">
                <h:outputText value="#{facturas.facturaSelected.proveedorRazonSocial}" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <h5>RUC Proveedor</h5>
            </div>
            <div class="col-md-8">
                <h:outputText value="#{facturas.facturaSelected.proveedorRuc}" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <h5>Monto Total Imponible</h5>
            </div>
            <div class="col-md-8">
                <h:outputText value="Gs. "/>
                <h:outputText value="#{facturas.facturaSelected.montoTotalImponible}">
                    <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                </h:outputText>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <h5>Monto Total IVA</h5>
            </div>
            <div class="col-md-8">
                <h:outputText value="Gs. "/>
                <h:outputText value="#{facturas.facturaSelected.montoTotalIva}">
                    <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                </h:outputText>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <h5>Monto Total Factura</h5>
            </div>
            <div class="col-md-8">
                <h4>
                    <h:outputText value="Gs. "/>
                    <h:outputText value="#{facturas.facturaSelected.montoTotal}">
                        <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                    </h:outputText>
                </h4>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <h5>Monto Nota de Crédito</h5>
            </div>
            <div class="col-md-8">
                <h4>
                    <h:outputText value="Gs. "/>
                    <h:outputText value="#{facturas.conformacionInput.facturaConformada.montoNotaCredito}">
                        <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                    </h:outputText>
                </h4>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <h5>Monto Retención</h5>
            </div>
            <div class="col-md-8">
                <h4>
                    <h:outputText value="Gs. "/>
                    <h:outputText value="#{facturas.conformacionInput.facturaConformada.montoRetencion}">
                        <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                    </h:outputText>
                </h4>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <h5>Otros Cargos</h5>
            </div>
            <div class="col-md-8">
                <h4>
                    <h:outputText value="Gs. "/>
                    <h:outputText value="#{facturas.conformacionInput.facturaConformada.montoOtrosCargos}">
                        <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                    </h:outputText>
                </h4>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <h5>Monto Total A Conformar</h5>
            </div>
            <div class="col-md-8">
                <h4>
                    <h:outputText value="Gs. "/>
                    <h:outputText value="#{facturas.conformacionInput.facturaConformada.montoConformado}">
                        <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                    </h:outputText>
                </h4>
            </div>
        </div>

        <p:separator />

        <div class="form-group row">
            <div class="col-md-12">
                <small class="form-text text-muted">Una vez confirmada la acción esta ya no podrá ser cancelada.</small>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <p:commandButton value="Confirmar" action="#{facturas.conformarFactura}"/>
                &nbsp;&nbsp;
                <p:commandButton type="button" value="Cancelar" onclick="PF('confirmacion_conformacion_factura_dialog_dlg').hide();"  />
            </div>
        </div>
    </h:form>

</ui:composition>
