<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <!-- SE DESPLIEGA CUANDO LA FACTURA NO PUEDE SER DESEMBOLSADA -->
    <h:form rendered="#{facturas.facturaSelected == null}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <div class="h3">Factura Inválida</div>
        <hr/>
        <p>
            La factura indicada presenta un estado no válido para el registro del desembolso. Es posible que la factura no haya sido vendida a esta entidad financiera o bien la misma ya se encuentra registrada como desembolsada.
        </p>
        <br/>
        <h:link class="btn btn-primary" value="Ver Lista de Facturas" outcome="/app/abm/factura/lista?faces-redirect=true" />
    </h:form>

    <!-- SE DESPLIEGA CUANDO LA FACTURA SI PUEDE SER DESEMBOLSADA -->
    <h:form id="desembolso_factura_form" rendered="#{facturas.facturaSelected != null}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

        <div class="form-group row">
            <div class="col-md-12">
                <div class="h3">Registro de Desembolso</div>
                <hr/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-6 col-sm-6 col-md-3">
                <p class="form-control-static">Monto Total de Factura</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <p align="right" class="form-control-static h5">
                    <h:outputText value="Gs. "/>
                    <h:outputText value="#{facturas.facturaSelected.montoTotal}">
                        <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                    </h:outputText>
                </p>
            </div>

            <div class="clearfix visible-xs-block visible-sm-block"></div>

            <div class="col-xs-6 col-sm-6 col-md-3">
                <p class="form-control-static">Monto Total Conformado</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <p align="right" class="form-control-static h5">
                    <h:outputText value="Gs. "/>
                    <h:outputText value="#{facturas.facturaSelected.montoTotalConformado}">
                        <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                    </h:outputText>
                </p>
            </div>

            <div class="clearfix visible-xs-block visible-sm-block"></div>
        </div>

        <div class="form-group row">
            <div class="col-xs-6 col-sm-6 col-md-3">
                <p class="form-control-static">Monto Total de Descuento por Adelanto</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <p align="right" class="form-control-static h5">
                    <h:outputText value="Gs. "/>
                    <h:outputText value="#{facturas.facturaSelected.montoTotalDescuento}">
                        <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                    </h:outputText>
                </p>
            </div>

            <div class="clearfix visible-xs-block visible-sm-block"></div>

            <div class="col-xs-6 col-sm-6 col-md-3">
                <p class="form-control-static">Porcentaje de Descuento</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <p align="right" class="form-control-static h5">
                    <h:outputText value="#{facturas.facturaSelected.porcentajeDescuento}">
                        <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                    </h:outputText>
                    <h:outputText value=" %" />
                </p>
            </div>

            <div class="clearfix visible-xs-block visible-sm-block"></div>
        </div>

        <div class="form-group row">
            <div class="col-xs-6 col-sm-6 col-md-3">
                <p class="form-control-static">Monto Total Desembolso</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <p align="right" class="form-control-static h5">
                    <h:outputText value="Gs. "/>
                    <h:outputText value="#{facturas.facturaSelected.montoTotalDesembolso}">
                        <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                    </h:outputText>
                </p>
            </div>

            <div class="clearfix visible-xs-block visible-sm-block"></div>

            <div class="col-xs-6 col-sm-6 col-md-3">
                <p class="form-control-static">Monto Total Comisión Entidad Financiera</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <p align="right" class="form-control-static h5">
                    <h:outputText value="Gs. "/>
                    <h:outputText value="#{facturas.montoDesembolsoEntidad}">
                        <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                    </h:outputText>
                </p>
            </div>

            <div class="clearfix visible-xs-block visible-sm-block"></div>
        </div>

        <div class="form-group row" style="margin-top: 25px;">
            <div class="col-md-12">
                <div class="h4">Desembolso por Factura Adelantanda a Proveedor</div>
                <hr/>
            </div>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2">Cuenta de Origen (Entidad Financiera)</label>
            <div class="col-md-4">
                <p:selectOneMenu value="#{facturas.cuentaEntidadFinancieraDesembolsoProveedorSelected}" class="app_form_input" var="cuentaOrigen" converter="omnifaces.SelectItemsConverter">
                    <f:selectItems value="#{facturas.cuentasEntidadFinanciera}" />
                    <p:column>
                        <h:outputText value="#{utils.cuentaLabel(cuentaOrigen)}" escape="false"/>
                    </p:column>
                </p:selectOneMenu>
            </div>
            <label class="form-control-label col-md-2">Cuenta de Destino (Proveedor)</label>
            <div class="col-md-4">
                <p:selectOneMenu value="#{facturas.cuentaProveedorSelected}" class="app_form_input" var="cuentaDestino" converter="omnifaces.SelectItemsConverter">
                    <f:selectItems value="#{facturas.cuentasProveedor}" />
                    <p:column>
                        <h:outputText value="#{utils.cuentaLabel(cuentaDestino)}" escape="false"/>
                    </p:column>
                </p:selectOneMenu>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-6 col-sm-6 col-md-3">
                <p class="form-control-static">Monto a Desembolsar</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <p align="right" class="form-control-static h5">
                    <h:outputText value="Gs. "/>
                    <h:outputText value="#{facturas.montoDesembolsoProveedor}">
                        <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                    </h:outputText>
                </p>
            </div>
        </div>

        <div class="form-group row" style="margin-top: 25px;">
            <div class="col-md-12">
                <div class="h4">Desembolso por Comisión a Proveedor de Servicio</div>
                <hr/>
            </div>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2">Omitir</label>
            <div class="col-md-4">
                <p:selectBooleanCheckbox value="#{facturas.omitirDesembolsoSepsa}">
                    <p:ajax listener="#{facturas.onOmitirDesembolsoChanged}" />
                </p:selectBooleanCheckbox>
            </div>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2">Cuenta de Origen (Entidad Financiera)</label>
            <div class="col-md-4">
                <p:selectOneMenu value="#{facturas.cuentaEntidadFinancieraDesembolsoSepsaSelected}" class="app_form_input" var="cuentaOrigen" converter="omnifaces.SelectItemsConverter" disabled="#{facturas.omitirDesembolsoSepsa}" editable="#{facturas.omitirDesembolsoSepsa}">
                    <f:selectItems value="#{facturas.cuentasEntidadFinanciera}" />
                    <p:column>
                        <h:outputText value="#{utils.cuentaLabel(cuentaOrigen)}" escape="false"/>
                    </p:column>
                </p:selectOneMenu>
            </div>
            <label class="form-control-label col-md-2">Cuenta de Destino (SEPSA)</label>
            <div class="col-md-4">
                <p:selectOneMenu value="#{facturas.cuentaSepsaSelected}" class="app_form_input" var="cuentaDestino" converter="omnifaces.SelectItemsConverter" disabled="#{facturas.omitirDesembolsoSepsa}" editable="#{facturas.omitirDesembolsoSepsa}">
                    <f:selectItems value="#{facturas.cuentasSepsa}" />
                    <p:column>
                        <h:outputText value="#{utils.cuentaLabel(cuentaDestino)}" escape="false"/>
                    </p:column>
                </p:selectOneMenu>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-6 col-sm-6 col-md-2">
                <p class="form-control-static">Monto a Desembolsar</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <p align="right" class="form-control-static h5">
                    <h:outputText value="Gs. "/>
                    <h:outputText value="#{facturas.montoDesembolsoSepsa}">
                        <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                    </h:outputText>
                </p>
            </div>
        </div>

        <div class="form-group row" style="margin-top: 25px;">
            <div class="col-md-12">
                <div class="h4">Desembolso por Comisión a Comprador</div>
                <hr/>
            </div>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2">Omitir</label>
            <div class="col-md-4">
                <p:selectBooleanCheckbox value="#{facturas.omitirDesembolsoComprador}">
                    <p:ajax listener="#{facturas.onOmitirDesembolsoChanged}" />
                </p:selectBooleanCheckbox>
            </div>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-md-2">Cuenta de Origen (Entidad Financiera)</label>
            <div class="col-md-4">
                <p:selectOneMenu value="#{facturas.cuentaEntidadFinancieraDesembolsoCompradorSelected}" class="app_form_input" var="cuentaOrigen" converter="omnifaces.SelectItemsConverter" disabled="#{facturas.omitirDesembolsoComprador}" editable="#{facturas.omitirDesembolsoComprador}">
                    <f:selectItems value="#{facturas.cuentasEntidadFinanciera}" />
                    <p:column>
                        <h:outputText value="#{utils.cuentaLabel(cuentaOrigen)}" escape="false"/>
                    </p:column>
                </p:selectOneMenu>
            </div>
            <label class="form-control-label col-md-2">Cuenta de Destino (Comprador)</label>
            <div class="col-md-4">
                <p:selectOneMenu value="#{facturas.cuentaCompradorSelected}" class="app_form_input" var="cuentaDestino" converter="omnifaces.SelectItemsConverter" disabled="#{facturas.omitirDesembolsoComprador}" editable="#{facturas.omitirDesembolsoComprador}">
                    <f:selectItems value="#{facturas.cuentasComprador}" />
                    <p:column>
                        <h:outputText value="#{utils.cuentaLabel(cuentaDestino)}" escape="false"/>
                    </p:column>
                </p:selectOneMenu>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-6 col-sm-6 col-md-2">
                <p class="form-control-static">Monto a Desembolsar</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <p align="right" class="form-control-static h5">
                    <h:outputText value="Gs. "/>
                    <h:outputText value="#{facturas.montoDesembolsoComprador}">
                        <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                    </h:outputText>
                </p>
            </div>
        </div>

        <div class="form-group row" style="margin-top: 25px;">
            <div class="col-md-12">
                <div class="h4">Otros Datos</div>
                <hr/>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Comprobante/s</label>
            <div class="col-md-10">
                <label style="margin-top: 10px;">Subir Comprobantes (máximo 10 elementos)</label>
                <ol>
                    <li>1. Seleccionar archivo/s (tamaño máximo 5MB) con el botón <strong>Seleccionar</strong></li>
                    <li>2. Subir archivo/s con el botón <strong>Subir</strong></li>
                </ol>
                <p:fileUpload fileUploadListener="#{facturas.cacheArchivos.onSubirArchivo}" sequential="true" mode="advanced" multiple="true" 
                              sizeLimit="5000000" fileLimit="10" allowTypes="/(\.|\/)(gif|jpe?g|txt|png|docx|xls|pdf)$/" cancelLabel="Cancelar" 
                              label="Seleccionar" uploadLabel="Subir" invalidFileMessage="Archivo inválido!" invalidSizeMessage="Archivo muy grande!" 
                              fileLimitMessage="Se excedió la cantidad de archivos permitidos (10)"
                              />
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Comentario Adicional</label>
            <div class="col-md-10">
                <p:inputTextarea class="form-control" rows="4" value="#{facturas.comentarioCambioEstadoFactura}"/>
            </div>
        </div>

        <p:separator />

        <div class="form-group row">
            <div class="col-md-12">
                <small class="form-text text-muted">Una vez confirmada la acción esta ya no podrá ser cancelada.</small>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <p:commandButton value="Confirmar" action="#{facturas.registrarDesembolsoFactura}"/>
            </div>
        </div>
    </h:form>

    <h:form id="desembolso_factura_form_messages" style="margin-top: 10px;">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <div class="row">
            <div class="col-md-12">
                <sepsa:messages />
            </div>
        </div>
    </h:form>
</ui:composition>
