<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="alta_factura_form">
        <!-- DATOS DE FACTURA -->
        <div class="form-group row">
            <div class="col-md-12">
                <div class="h3">Datos de Factura</div>
                <hr/>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Número</label>
            <div class="col-md-4">
                <p:inputMask value="#{altaFactura.input.nroFactura}" class="app_form_input" mask="999-999-9999999" />
            </div>

            <h:outputLabel class="form-control-label col-md-2" value="Tipo de Moneda"/>
            <div class="col-md-4">
                <p:selectOneMenu value="#{altaFactura.input.idMoneda}" class="app_form_input" var="moneda" converter="omnifaces.SelectItemsConverter" filter="true" filterMatchMode="contains">
                    <f:selectItem itemValue="#{null}" itemLabel="" />
                    <f:selectItems value="#{monedas.monedas}" />
                    <p:column>
                        <h:outputText value="#{monedas.monedaLabel(moneda)}" escape="false"/>
                    </p:column>
                </p:selectOneMenu>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Nro. de Timbrado</label>
            <div class="col-md-4">
                <p:inputText class="app_form_input" value="#{altaFactura.input.nroTimbradoFactura}"/>
            </div>

            <label class="form-control-label col-md-2">Vencimiento de Timbrado</label>
            <div class="col-md-2">
                <p:selectOneMenu value="#{altaFactura.input.vtoTimbradoMesFactura}" class="app_form_input" converter="omnifaces.SelectItemsConverter" >
                    <f:selectItem itemValue="#{null}" itemLabel=" " />
                    <f:selectItems value="#{utils.meses}"/>
                </p:selectOneMenu>
            </div>

            <div class="col-md-2">
                <p:selectOneMenu value="#{altaFactura.input.vtoTimbradoAnhoFactura}" class="app_form_input" converter="omnifaces.SelectItemsConverter">
                    <f:selectItem itemValue="#{null}" itemLabel=" " />
                    <f:selectItems value="#{utils.anhos}"/>
                </p:selectOneMenu>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Fecha de Emisión</label>
            <div class="col-md-4">
                <div class="input-group">
                    <p:calendar value="#{altaFactura.input.fechaEmisionFactura}" class="app_text_uppercase app_form_input_addon_right" navigator="true" yearRange="c-100:c+100" pattern="dd/MMM/yyyy" mode="popup" locale="es" />
                    <span class="input-group-addon"><i class="fa fa-calendar"/></span>
                </div>
            </div>

            <label class="form-control-label col-md-2">Fecha de Pago</label>
            <div class="col-md-4">
                <div class="input-group">
                    <p:calendar value="#{altaFactura.input.fechaPagoFactura}" class="app_text_uppercase app_form_input_addon_right" navigator="true" yearRange="c-100:c+100" pattern="dd/MMM/yyyy" mode="popup" locale="es" />
                    <span class="input-group-addon"><i class="fa fa-calendar"/></span>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <h:outputLabel class="form-control-label col-md-2" value="Comprador"/>
            <div class="col-md-4">
                <p:selectOneMenu value="#{altaFactura.input.comprador}" class="app_form_input" var="comprador" editable="true" converter="genisys.SelectionModelItemConverter" validator="genisys.SelectionModelItemValidator">
                    <p:ajax event="valueChange" listener="#{altaFactura.onCompradorChanged}" process="@form" update="@form" />
                    <f:selectItem itemValue="#{null}" itemLabel="---" noSelectionOption="true" />
                    <f:selectItems value="#{altaFactura.personas.compradores}" />
                    <p:column>
                        <h:outputText value="#{utils.personaLabel(comprador)}" escape="false"/>
                    </p:column>
                </p:selectOneMenu>
            </div>

            <label class="form-control-label col-md-2">RUC Comprador</label>
            <div class="col-md-4">
                <p:inputText id="ruc_comprador" class="app_form_input" value="#{altaFactura.input.rucComprador}"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Razón Social Comprador</label>
            <div class="col-md-10">
                <p:inputText id="razon_social_comprador" class="app_form_input" value="#{altaFactura.input.razonSocialComprador}"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Monto Total 5% (IVA Incluido)</label>
            <div class="col-md-10">
                <p:inputText class="app_form_input" value="#{altaFactura.input.montoTotalIva5Factura}" onfocus="inputNumericOnFocus(this)">
                    <p:ajax event="keyup" update="@this" global="false" delay="200" />
                    <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                </p:inputText>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Monto Total 10% (IVA Incluido)</label>
            <div class="col-md-10">
                <p:inputText class="app_form_input" value="#{altaFactura.input.montoTotalIva10Factura}" onfocus="inputNumericOnFocus(this)">
                    <p:ajax event="keyup" update="@this" global="false" delay="200" />
                    <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                </p:inputText>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Monto Total Exento</label>
            <div class="col-md-10">
                <p:inputText class="app_form_input" value="#{altaFactura.input.montoTotalExentoFactura}" onfocus="inputNumericOnFocus(this)">
                    <p:ajax event="keyup" update="@this" global="false" delay="200" />
                    <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                </p:inputText>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Monto Total</label>
            <div class="col-md-10">
                <p:inputText class="app_form_input" value="#{altaFactura.input.montoTotalFactura}" onfocus="inputNumericOnFocus(this)">
                    <p:ajax event="keyup" update="@this" global="false" delay="200" />
                    <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                </p:inputText>
            </div>
        </div>

        <!-- DATOS DE NOTA DE CREDITO -->
        <div class="form-group row">
            <div class="col-md-12">
                <div class="h3">Datos de Nota de Crédito</div>
                <hr/>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Omitir</label>
            <div class="col-md-4">
                <p:selectBooleanCheckbox value="#{altaFactura.input.omitirNotaCredito}">
                    <p:ajax listener="#{altaFactura.onOmitirNotaCreditoChanged}" process="@form" />
                </p:selectBooleanCheckbox>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Número</label>
            <div class="col-md-4">
                <p:inputMask value="#{altaFactura.input.nroNotaCredito}" class="app_form_input" mask="999-999-9999999" readonly="#{altaFactura.input.omitirNotaCredito}" disabled="#{altaFactura.input.omitirNotaCredito}" />
            </div>

            <label class="form-control-label col-md-2">Fecha de Emisión</label>
            <div class="col-md-4">
                <div class="input-group">
                    <p:calendar value="#{altaFactura.input.fechaEmisionNotaCredito}" class="app_text_uppercase app_form_input_addon_right" navigator="true" yearRange="c-100:c+100" pattern="dd/MMM/yyyy" mode="popup" locale="es" readonly="#{altaFactura.input.omitirNotaCredito}" disabled="#{altaFactura.input.omitirNotaCredito}"/>
                    <span class="input-group-addon"><i class="fa fa-calendar"/></span>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Nro. de Timbrado</label>
            <div class="col-md-4">
                <p:inputText class="app_form_input" value="#{altaFactura.input.nroTimbradoNotaCredito}" readonly="#{altaFactura.input.omitirNotaCredito}" disabled="#{altaFactura.input.omitirNotaCredito}"/>
            </div>

            <label class="form-control-label col-md-2">Vencimiento de Timbrado</label>
            <div class="col-md-2">
                <p:selectOneMenu value="#{altaFactura.input.vtoTimbradoMesNotaCredito}" class="app_form_input" converter="omnifaces.SelectItemsConverter" editable="#{altaFactura.input.omitirNotaCredito}" disabled="#{altaFactura.input.omitirNotaCredito}">
                    <f:selectItem itemValue="#{null}" itemLabel=" " />
                    <f:selectItems value="#{utils.meses}"/>
                </p:selectOneMenu>
            </div>

            <div class="col-md-2">
                <p:selectOneMenu value="#{altaFactura.input.vtoTimbradoAnhoNotaCredito}" class="app_form_input" converter="omnifaces.SelectItemsConverter" editable="#{altaFactura.input.omitirNotaCredito}" disabled="#{altaFactura.input.omitirNotaCredito}">
                    <f:selectItem itemValue="#{null}" itemLabel=" " />
                    <f:selectItems value="#{utils.anhos}"/>
                </p:selectOneMenu>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Monto Total 5% (IVA Incluido)</label>
            <div class="col-md-10">
                <p:inputText class="app_form_input" value="#{altaFactura.input.montoTotalIva5NotaCredito}" onfocus="inputNumericOnFocus(this)" readonly="#{altaFactura.input.omitirNotaCredito}" disabled="#{altaFactura.input.omitirNotaCredito}">
                    <p:ajax event="keyup" update="@this" global="false" delay="200" />
                    <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                </p:inputText>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Monto Total 10% (IVA Incluido)</label>
            <div class="col-md-10">
                <p:inputText class="app_form_input" value="#{altaFactura.input.montoTotalIva10NotaCredito}" onfocus="inputNumericOnFocus(this)" readonly="#{altaFactura.input.omitirNotaCredito}" disabled="#{altaFactura.input.omitirNotaCredito}">
                    <p:ajax event="keyup" update="@this" global="false" delay="200" />
                    <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                </p:inputText>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Monto Total Exento</label>
            <div class="col-md-10">
                <p:inputText class="app_form_input" value="#{altaFactura.input.montoTotalExentoNotaCredito}" onfocus="inputNumericOnFocus(this)" readonly="#{altaFactura.input.omitirNotaCredito}" disabled="#{altaFactura.input.omitirNotaCredito}">
                    <p:ajax event="keyup" update="@this" global="false" delay="200" />
                    <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                </p:inputText>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Monto Total</label>
            <div class="col-md-10">
                <p:inputText class="app_form_input" value="#{altaFactura.input.montoTotalNotaCredito}" onfocus="inputNumericOnFocus(this)" readonly="#{altaFactura.input.omitirNotaCredito}" disabled="#{altaFactura.input.omitirNotaCredito}">
                    <p:ajax event="keyup" update="@this" global="false" delay="200" />
                    <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                </p:inputText>
            </div>
        </div>

        <!-- DATOS DE RETENCION -->
        <div class="form-group row">
            <div class="col-md-12">
                <div class="h3">Datos de Retención</div>
                <hr/>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Omitir</label>
            <div class="col-md-4">
                <p:selectBooleanCheckbox value="#{altaFactura.input.omitirRetencion}">
                    <p:ajax listener="#{altaFactura.onOmitirRetencionChanged}" process="@form" />
                </p:selectBooleanCheckbox>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Número</label>
            <div class="col-md-4">
                <p:inputMask value="#{altaFactura.input.nroRetencion}" class="app_form_input" mask="999-999-9999999" readonly="#{altaFactura.input.omitirRetencion}" disabled="#{altaFactura.input.omitirRetencion}" />
            </div>

            <label class="form-control-label col-md-2">Fecha de Emisión</label>
            <div class="col-md-4">
                <div class="input-group">
                    <p:calendar value="#{altaFactura.input.fechaEmisionRetencion}" class="app_text_uppercase app_form_input_addon_right" navigator="true" yearRange="c-100:c+100" pattern="dd/MMM/yyyy" mode="popup" locale="es" readonly="#{altaFactura.input.omitirRetencion}" disabled="#{altaFactura.input.omitirRetencion}"/>
                    <span class="input-group-addon"><i class="fa fa-calendar"/></span>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Nro. de Timbrado</label>
            <div class="col-md-4">
                <p:inputText class="app_form_input" value="#{altaFactura.input.nroTimbradoRetencion}" readonly="#{altaFactura.input.omitirRetencion}" disabled="#{altaFactura.input.omitirRetencion}"/>
            </div>

            <label class="form-control-label col-md-2">Vencimiento de Timbrado</label>
            <div class="col-md-2">
                <p:selectOneMenu value="#{altaFactura.input.vtoTimbradoMesRetencion}" class="app_form_input" converter="omnifaces.SelectItemsConverter" editable="#{altaFactura.input.omitirRetencion}" disabled="#{altaFactura.input.omitirRetencion}">
                    <f:selectItem itemValue="#{null}" itemLabel=" " />
                    <f:selectItems value="#{utils.meses}"/>
                </p:selectOneMenu>
            </div>

            <div class="col-md-2">
                <p:selectOneMenu value="#{altaFactura.input.vtoTimbradoAnhoRetencion}" class="app_form_input" converter="omnifaces.SelectItemsConverter" editable="#{altaFactura.input.omitirRetencion}" disabled="#{altaFactura.input.omitirRetencion}">
                    <f:selectItem itemValue="#{null}" itemLabel=" " />
                    <f:selectItems value="#{utils.anhos}"/>
                </p:selectOneMenu>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Monto Total Retenido</label>
            <div class="col-md-10">
                <p:inputText class="app_form_input" value="#{altaFactura.input.montoTotalRetencion}" onfocus="inputNumericOnFocus(this)" readonly="#{altaFactura.input.omitirRetencion}" disabled="#{altaFactura.input.omitirRetencion}">
                    <p:ajax event="keyup" update="@this" global="false" delay="200" />
                    <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                </p:inputText>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <p:commandButton value="Guardar" action="#{altaFactura.guardar}" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <sepsa:messages />
            </div>
        </div>
    </h:form>

</ui:composition>