<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="alta_facturas_form" enctype="multipart/form-data">
        <div class="form-group row">
            <div class="col-md-12">
                <div class="h3">Alta Masiva de Facturas</div>
                <hr/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-5">
                <div>Lista de Facturas</div>
            </div>
            <div class="col-md-7">
                <ol class="app_text_justify">
                    <li>1. Seleccionar archivo (tamaño máximo 20MB) con el botón <strong>Seleccionar</strong>. El archivo debe estar conforme a lo que define el archivo de muestra, el cual puede obtenerse mediante el botón <strong>Descargar Muestra</strong>.</li>
                    <li>2. Como último paso, presionar el botón <strong>Procesar</strong> para la validación de los datos ingresados.</li>
                </ol>
                <h:inputFile value="#{altaFacturas.input.archivos.file}" >
                    <f:ajax listener="#{altaFacturas.input.archivos.onSubirArchivo}" />
                </h:inputFile>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <p:commandButton ajax="false" value="Descargar Muestra" action="#{altaFacturas.descargarTemplate}" icon="fa fa-download" />
                <p:commandButton ajax="false" value="Procesar" action="#{altaFacturas.procesar}" icon="fa fa-gear" update="@form" process="@form" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <sepsa:messages />
            </div>
        </div>

        <h:outputScript>
            $(document).ready(function() {
            if(#{altaFacturas.showConfirmDialog}) {
            PF('alta_facturas_confirmar_dialog_dlg').show();
            }
            });
        </h:outputScript>
    </h:form>

</ui:composition>