<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="form">
        <div class="form-group row">
            <div class="col-md-12">
                <div class="h3">Confirmación</div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <p class="app_text_justify">El archivo ha sido procesado. Por favor confirme que el siguiente resúmen esté correcto:</p>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <ul class="app_ul">
                    <li>Se encontraron <h:outputText value="#{altaFacturas.informe.totalOk}" style="color: green; font-weight: bold;"/> filas con datos válidos.</li>
                    <li>Se encontraron <h:outputText value="#{altaFacturas.informe.totalKo}" style="color: red; font-weight: bold;" /> filas con datos inválidos.</li>
                </ul>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <p class="app_text_justify">Presione el botón <strong>Confirmar</strong> para que los datos de facturas puenda ser registrados, caso contrario puede presionar el botón <strong>Cancelar</strong> para procesar otro archivo. Al presionar el botón <strong>Ver Informe</strong> se puede acceder a una lista detallada del procesamiento realizado.</p>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <p:commandButton value="Confirmar" action="#{altaFacturas.confirmarRegistro}" />
                <p:commandButton value="Cancelar" action="#{altaFacturas.cancelarRegistro}" />
                <p:commandButton ajax="false" value="Ver Informe" action="#{altaFacturas.descargarInforme}" icon="fa fa-download" />                                
            </div>
        </div>

    </h:form>

</ui:composition>