<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="historico_factura_form">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

        <h3>Histórico de Cambios de Estado</h3>
        <br/>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10% !important; max-width: 10% !important;">Estado</th>
                    <th style="width: 20% !important; max-width: 20% !important;">Fecha</th>
                    <th style="width: 70% !important; max-width: 70% !important;">Comentarios</th>
                </tr>
            </thead>
            <tbody>
                <h:outputText value="#{facturas.historicoFacturaHtml}" escape="false" />
            </tbody>
        </table>

    </h:form>

</ui:composition>