<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="tabla_facturas_form">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <p:dataTable
            id="tabla_facturas"
            binding="#{facturas.lista.tableBind}"
            var="factura"
            value="#{facturas.lista.items}"
            lazy="true"
            emptyMessage="No existen datos que mostrar"
            paginator="true"
            currentPageReportTemplate="Mostrando {startRecord} a {endRecord} de {totalRecords}"
            paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {SelectedCount}"
            paginatorAlwaysVisible="true"
            paginatorPosition="top"
            selection="#{facturas.lista.multiSelectedItem}"
            rows="50"
            rowsPerPageTemplate="10,15,20,30,50,100"
            rowKey="#{factura.id}"
            reflow="true"
            resizableColumns="true"
            >

            <!-- Elemento que indica la cantidad de filas seleccionadas -->
            <f:facet name="{SelectedCount}">
                <h:outputText class="ui-paginator-current" value=" (#{facturas.lista.multiSelectedItem.size()} elementos seleccionados)" rendered="#{facturas.lista.multiSelectedItem.size() > 0}"/>
            </f:facet>

            <!-- Eventos que actualizan las filas seleccionads -->
            <p:ajax event="toggleSelect" update="@parent" />
            <p:ajax event="rowSelect" update="@parent" />
            <p:ajax event="rowUnselect" update="@parent" />
            <p:ajax event="rowSelectCheckbox" update="@parent" />
            <p:ajax event="rowUnselectCheckbox" update="@parent" />
            <p:ajax event="page" oncomplete="$.fn.matchHeight._update();" />

            <p:column selectionMode="multiple" class="app_cbx_selection" style="margin: 0; width: 50px;">
            </p:column>

            <sec:authorize access="hasRole('ROLE_ADMINISTRADOR')" >
                <p:column headerText="ID">
                    <h:outputText value="#{factura.id}" id="factura_id"/>
                    <p:tooltip for="factura_id" value="#{factura.id}" />
                </p:column>
            </sec:authorize>

            <!--
            Para la entidad financiera, cambiar el orden de las columnas proveedor y comprador.
            -->
            <sec:authorize access="hasRole('ROLE_ENTIDAD_FINANCIERA')" >
                <p:column headerText="Proveedor">
                    <h:outputText value="#{factura.proveedorRazonSocial}" id="factura_rz_proveedor"/>
                    <p:tooltip for="factura_rz_proveedor" value="#{factura.proveedorRazonSocial}" />
                </p:column>

                <p:column headerText="RUC Proveedor">
                    <h:outputText value="#{factura.proveedorRuc}" id="factura_ruc_proveedor"/>
                    <p:tooltip for="factura_ruc_proveedor" value="#{factura.proveedorRuc}" />
                </p:column>

                <p:column headerText="Comprador">
                    <h:outputText value="#{factura.compradorRazonSocial}" id="factura_rz_comprador" />
                    <p:tooltip for="factura_rz_comprador" value="#{factura.compradorRazonSocial}" />
                </p:column>

                <p:column headerText="RUC Comprador">
                    <h:outputText value="#{factura.compradorRuc}" id="factura_ruc_comprador"/>
                    <p:tooltip for="factura_ruc_comprador" value="#{factura.compradorRuc}" />
                </p:column>
            </sec:authorize>

            <!--
            Para el proveedor, mostrar solo la columna del comprador.
            -->
            <sec:authorize access="hasAnyRole('ROLE_PROVEEDOR', 'ROLE_ADMINISTRADOR')" >
                <p:column headerText="Comprador">
                    <h:outputText value="#{factura.compradorRazonSocial}" id="factura_rz_comprador"/>
                    <p:tooltip for="factura_rz_comprador" value="#{factura.compradorRazonSocial}" />
                </p:column>

                <p:column headerText="RUC Comprador">
                    <h:outputText value="#{factura.compradorRuc}" id="factura_ruc_comprador"/>
                    <p:tooltip for="factura_ruc_comprador" value="#{factura.compradorRuc}" />
                </p:column>
            </sec:authorize>

            <!--
            Para el comprador, mostrar solo la columna del proveedor.
            -->
            <sec:authorize access="hasAnyRole('ROLE_COMPRADOR', 'ROLE_ADMINISTRADOR')" >
                <p:column headerText="Proveedor">
                    <h:outputText value="#{factura.proveedorRazonSocial}" id="factura_rz_proveedor"/>
                    <p:tooltip for="factura_rz_proveedor" value="#{factura.proveedorRazonSocial}" />
                </p:column>

                <p:column headerText="RUC Proveedor">
                    <h:outputText value="#{factura.proveedorRuc}" id="factura_ruc_proveedor"/>
                    <p:tooltip for="factura_ruc_proveedor" value="#{factura.proveedorRuc}" />
                </p:column>
            </sec:authorize>

            <p:column headerText="Nro. Factura">
                <h:outputText value="#{factura.numero}" id="factura_nro" />
                <p:tooltip for="factura_nro" value="#{factura.numero}" />
            </p:column>

            <p:column headerText="Fecha de Emisión">
                <h:outputText value="#{factura.fechaEmision}" id="factura_fecha" styleClass="app_text_uppercase">
                    <f:convertDateTime pattern="dd/MMM/yyyy" />
                </h:outputText>
                <p:tooltip for="factura_fecha" value="#{factura.fechaEmision}" styleClass="app_text_uppercase">
                    <f:convertDateTime pattern="dd/MMM/yyyy" />
                </p:tooltip>
            </p:column>

            <p:column headerText="Monto Total">
                <h:outputText value="Gs. " />
                <h:outputText value="#{factura.montoTotal}" id="factura_monto_total">
                    <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                </h:outputText>
                <p:tooltip for="factura_monto_total" value="#{factura.montoTotal}">
                    <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                </p:tooltip>
            </p:column>

            <sec:authorize access="hasAnyRole('ROLE_COMPRADOR', 'ROLE_PROVEEDOR', 'ROLE_ENTIDAD_FINANCIERA', 'ROLE_ADMINISTRADOR')" >
                <p:column headerText="Monto Total Conformado" rendered="#{facturas.facturaTieneConformacion(factura)}">
                    <h:outputText value="Gs. "/>
                    <h:outputText value="#{factura.montoTotalConformado}" id="factura_monto_total_conformado">
                        <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                    </h:outputText>
                    <p:tooltip for="factura_monto_total_conformado" value="#{factura.montoTotalConformado}">
                        <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                    </p:tooltip>
                </p:column>
                <p:column headerText="Monto Total Conformado" rendered="#{not facturas.facturaTieneConformacion(factura)}">
                    <h:outputText value="N/D"/>
                </p:column>
            </sec:authorize>

            <sec:authorize access="hasAnyRole('ROLE_ENTIDAD_FINANCIERA', 'ROLE_ADMINISTRADOR')" >
                <p:column headerText="Monto Total Comisión" >
                    <h:outputText value="Gs. " />
                    <h:outputText value="#{factura.montoTotalDescuento}" id="factura_monto_total_comision">
                        <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                    </h:outputText>
                    <p:tooltip for="factura_monto_total_comision" value="#{factura.montoTotalDescuento}">
                        <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                    </p:tooltip>
                </p:column>

                <p:column headerText="Monto Total A Desembolsar" >
                    <h:outputText value="Gs. " />
                    <h:outputText value="#{factura.montoTotalDesembolso}" id="factura_monto_total_a_pagar">
                        <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                    </h:outputText>
                    <p:tooltip for="factura_monto_total_a_pagar" value="#{factura.montoTotalDesembolso}">
                        <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                    </p:tooltip>
                </p:column>
            </sec:authorize>

            <p:column headerText="Fecha de Pago">
                <h:outputText value="#{factura.fechaPago}" id="factura_fecha_pago" styleClass="app_text_uppercase">
                    <f:convertDateTime pattern="dd/MMM/yyyy" locale="es"/>
                </h:outputText>
                <p:tooltip for="factura_fecha_pago" value="#{factura.fechaPago}" styleClass="app_text_uppercase">
                    <f:convertDateTime pattern="dd/MMM/yyyy" />
                </p:tooltip>
            </p:column>

            <p:column headerText="Plazo en Días">
                <h:outputText value="#{factura.diasPlazo}" id="factura_dias_credito" />
                <p:tooltip for="factura_dias_credito" value="#{factura.diasPlazo}" />
            </p:column>

            <p:column headerText="Días Restantes para Pago" >
                <h:outputText value="#{factura.diasVencimiento}" id="factura_dias_credito_restantes" />
                <p:tooltip for="factura_dias_credito_restantes" value="#{factura.diasVencimiento}" />
            </p:column>

            <!--
            <p:column headerText="Tipo Factura" style="text-align: center;">
                <p:outputPanel rendered="#{factura.esFacturaEdi}">
                    <div class="label labe-info" style="background: #2fa084;">
                        EDI
                    </div>
                </p:outputPanel>
            </p:column>
            -->

            <p:column headerText="Estado">
                <span class="label label-primary app_text_truncated ui-grid-col-12" style="background-color: #{estados.getColor(factura.estadoId)}">
                    <h:outputText value="#{estados.getHumanText(factura.estadoId)}" id="factura_estado"/>
                </span>
                <p:tooltip value="#{estados.getHumanText(factura.estadoId)}" />
            </p:column>

            <p:column headerText="Histórico">
                <div class="ui-grid-col-12 text-center">
                    <p:commandButton class="btn btn-default" icon="fa fa-list" action="#{facturas.verHistoricoFactura(factura.id)}"/>
                </div>
            </p:column>

            <p:column headerText="Archivos Adjuntos">
                <div class="ui-grid-col-12 text-center">
                    <p:commandButton class="btn btn-default" icon="fa fa-paperclip" action="#{facturas.verArchivosAdjuntos(factura.id)}"/>
                </div>
            </p:column>

            <sec:authorize access="hasRole('ROLE_PROVEEDOR')" >
                <p:column headerText="Calculadora">
                    <div class="ui-grid-col-12 text-center">
                        <p:commandButton class="btn btn-default" icon="fa fa-calculator" action="#{facturas.initCalculadoraInteresForProveedor(factura)}"/>
                    </div>
                </p:column>
            </sec:authorize>

        </p:dataTable>
    </h:form>

</ui:composition>