<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="filtro_facturas_form" class="form-horizontal" role="form">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <!-- Valores de Filtro -->
        <p:outputPanel id="filtro_facturas_inner">
            <div class="row auto-clear">
                <sec:authorize access="hasRole('ROLE_ADMINISTRADOR')" >
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                        <p:outputLabel class="col-md-3 control-label">ID Factura</p:outputLabel>
                        <div class="col-md-9">
                            <p:inputText class="form-control" value="#{facturas.lista.filtro.idFactura}" />
                        </div>
                    </div>
                </sec:authorize>

                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                    <p:outputLabel class="col-md-3 control-label">Número de Factura</p:outputLabel>
                    <div class="col-md-9">
                        <p:inputText value="#{facturas.lista.filtro.nroFactura}" class="app_form_input" />
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                    <p:outputLabel class="col-md-3 control-label">Estado de Factura</p:outputLabel>
                    <div class="col-md-9">
                        <p:selectOneMenu value="#{facturas.lista.filtro.idEstado}" class="app_form_input" converter="omnifaces.SelectItemsConverter">
                            <f:selectItem itemValue="#{null}" itemLabel="TODAS" />
                            <f:selectItems value="#{estados.enabledEstadosFactura}" var="estado" itemLabel="#{estados.getHumanText(estado)}"/>
                        </p:selectOneMenu>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                    <p:outputLabel class="col-md-3 control-label">Monto Total de Factura</p:outputLabel>
                    <div class="col-md-9">
                        <p:inputText value="#{facturas.lista.filtro.montoTotal}" class="app_form_input" />
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                    <p:outputLabel class="col-md-3 control-label">Días de Crédito de Factura</p:outputLabel>
                    <div class="col-md-9">
                        <p:inputText value="#{facturas.lista.filtro.diasCredito}" class="app_form_input" />
                    </div>
                </div>

                <sec:authorize access="hasAnyRole('ROLE_PROVEEDOR', 'ROLE_ADMINISTRADOR', 'ROLE_ENTIDAD_FINANCIERA')" >
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                        <p:outputLabel class="col-md-3 control-label">Razón Social de Comprador</p:outputLabel>
                        <div class="col-md-9">
                            <p:inputText value="#{facturas.lista.filtro.razonSocialComprador}" class="app_form_input" />
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                        <p:outputLabel class="col-md-3 control-label">RUC de Comprador</p:outputLabel>
                        <div class="col-md-9">
                            <p:inputText value="#{facturas.lista.filtro.rucComprador}" class="app_form_input" />
                        </div>
                    </div>
                </sec:authorize>

                <sec:authorize access="hasAnyRole('ROLE_COMPRADOR', 'ROLE_ADMINISTRADOR', 'ROLE_ENTIDAD_FINANCIERA')" >
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                        <p:outputLabel class="col-md-3 control-label">Razón Social de Proveedor</p:outputLabel>
                        <div class="col-md-9">
                            <p:inputText value="#{facturas.lista.filtro.razonSocialProveedor}" class="app_form_input" />
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                        <p:outputLabel class="col-md-3 control-label">RUC de Proveedor</p:outputLabel>
                        <div class="col-md-9">
                            <p:inputText value="#{facturas.lista.filtro.rucProveedor}" class="app_form_input" />
                        </div>
                    </div>
                </sec:authorize>

                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                    <p:outputLabel class="col-md-3 control-label">Fecha de Factura Desde</p:outputLabel>
                    <div class="col-md-9">
                        <div class="input-group">
                            <p:calendar value="#{facturas.lista.filtro.fechaDesde}" class="app_form_input_addon_right" navigator="true" yearRange="c-100:c+100" pattern="dd/MMM/yyyy" mode="popup" locale="es" />
                            <span class="input-group-addon"><i class="fa fa-calendar"/></span>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                    <p:outputLabel class="col-md-3 control-label">Fecha de Factura Hasta</p:outputLabel>
                    <div class="col-md-9">
                        <div class="input-group">
                            <p:calendar value="#{facturas.lista.filtro.fechaHasta}" class="app_form_input_addon_right" navigator="true" yearRange="c-100:c+100" pattern="dd/MMM/yyyy" mode="popup" locale="es" />
                            <span class="input-group-addon"><i class="fa fa-calendar"/></span>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                    <p:outputLabel class="col-md-3 control-label">Fecha de Pago Desde</p:outputLabel>
                    <div class="col-md-9">
                        <div class="input-group">
                            <p:calendar value="#{facturas.lista.filtro.fechaPagoDesde}" class="app_form_input_addon_right" navigator="true" yearRange="c-100:c+100" pattern="dd/MMM/yyyy" mode="popup" locale="es" />
                            <span class="input-group-addon"><i class="fa fa-calendar"/></span>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                    <p:outputLabel class="col-md-3 control-label">Fecha de Pago Hasta</p:outputLabel>
                    <div class="col-md-9">
                        <div class="input-group">
                            <p:calendar value="#{facturas.lista.filtro.fechaPagoHasta}" class="app_form_input_addon_right" navigator="true" yearRange="c-100:c+100" pattern="dd/MMM/yyyy" mode="popup" locale="es" />
                            <span class="input-group-addon"><i class="fa fa-calendar"/></span>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                    <div class="col-md-12">
                        <p:selectBooleanCheckbox value="#{facturas.lista.filtro.mostrarExpiradas}"/>
                        <p:outputLabel class="control-label">&nbsp;Mostrar Facturas Vencidas</p:outputLabel>
                    </div>
                </div>

            </div>
        </p:outputPanel>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                <div class="col-md-12" style="margin-top: 10px;">
                    <p:commandButton value="#{facturas.btnFiltrarText}" action="#{facturas.filtrarLista}"/>
                    &#160;&#160;
                    <p:commandButton value="Limpiar" action="#{facturas.limpiarFiltroForm}"/>
                </div>
            </div>
        </div>

        <!-- Bloquea el panel de valores de filtro para no permitir la edicion de los mismos -->
        <p:blockUI block="filtro_facturas_inner" widgetVar="bui"/>
    </h:form>

</ui:composition>