<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <p:dataTable
        var="factura"
        value="#{listaFacturas}"
        emptyMessage="No existen datos que mostrar"
        reflow="true"
        resizableColumns="true"
        >
        <p:column headerText="Nro. de Factura">
            <h:outputText value="#{factura.nroFactura}" />
        </p:column>

        <p:column headerText="Proveedor">
            <h:outputText value="#{factura.razonSocialProveedor}" />
        </p:column>

        <p:column headerText="RUC Proveedor">
            <h:outputText value="#{factura.rucProveedor}" />
        </p:column>

        <p:column headerText="Comprador">
            <h:outputText value="#{factura.razonSocialComprador}" />
        </p:column>

        <p:column headerText="RUC Comprador">
            <h:outputText value="#{factura.rucComprador}" />
        </p:column>

        <p:column headerText="Fecha de Cobro">
            <h:outputText value="#{factura.fechaPago}" styleClass="app_text_uppercase">
                <f:convertDateTime pattern="dd/MMM/yyyy" />
            </h:outputText>
        </p:column>

        <p:column headerText="Monto Total">
            <h:outputText value="Gs. " />
            <h:outputText value="#{factura.montoTotalFactura}">
                <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
            </h:outputText>
        </p:column>

        <p:column headerText="Días Para Vencimiento" >
            <h:outputText value="#{factura.vencimiento}" rendered="#{factura.vencimiento > 0}"/>
        </p:column>
    </p:dataTable>

</ui:composition>