<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <div class="form-group row">
        <div class="col-md-4">
            <div>Cuenta para Acreditación</div>
        </div>
        <div class="col-md-8">
            <h:outputText value="#{facturaVentaLote.ventaLoteFacturasBancoRio.htmlNroCuentaProveedor()}" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-4">
            <div>Banco</div>
        </div>
        <div class="col-md-8">
            <h:outputText value="#{facturaVentaLote.ventaLoteFacturasBancoRio.htmlBancoProveedor()}" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-12">
            <div>Lista de Facturas</div>
        </div>

        <div class="col-md-12">
            <p:dataTable 
                value="#{facturaVentaLote.ventaLoteFacturasBancoRio.currentInput.calculos}" 
                var="ventaInfo" 
                emptyMessage="No existen datos que mostrar"
                paginator="false"
                rows="1000"
                rowKey="#{factura.id}"
                reflow="true"
                resizableColumns="true"
                >

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Comprador" title="Comprador"/>
                    </f:facet>
                    <h:outputText value="#{ventaInfo.factura.compradorRazonSocial}" id="factura_rz_comprador"/>
                    <p:tooltip for="factura_rz_comprador" value="#{ventaInfo.factura.compradorRazonSocial}" />
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="RUC" title="RUC"/>
                    </f:facet>
                    <h:outputText value="#{ventaInfo.factura.compradorRuc}" id="factura_ruc_comprador"/>
                    <p:tooltip for="factura_ruc_comprador" value="#{ventaInfo.factura.compradorRuc}" />
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Nro. Factura" title="Nro. Factura"/>
                    </f:facet>
                    <h:outputText value="#{ventaInfo.factura.numero}" id="factura_nro" />
                    <p:tooltip for="factura_nro" value="#{ventaInfo.factura.numero}" />
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Fecha de Emisión" title="Fecha de Emisión"/>
                    </f:facet>
                    <h:outputText value="#{ventaInfo.factura.fechaEmision}" id="factura_fecha" styleClass="app_text_uppercase app_text_center">
                        <f:convertDateTime pattern="dd/MMM/yyyy" />
                    </h:outputText>
                    <p:tooltip for="factura_fecha" value="#{ventaInfo.factura.fechaEmision}" styleClass="app_text_uppercase">
                        <f:convertDateTime pattern="dd/MMM/yyyy" />
                    </p:tooltip>
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Monto Total Conformado" title="Monto Total Conformado"/>
                    </f:facet>
                    <h:outputText value="#{facturaVentaLote.montoConformado(ventaInfo)}" id="factura_monto_total_conformado" styleClass="app_block app_text_right" />
                    <p:tooltip for="factura_monto_total_conformado" value="#{facturaVentaLote.montoConformado(ventaInfo)}" />
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Fecha de Pago" title="Fecha de Pago"/>
                    </f:facet>
                    <h:outputText value="#{ventaInfo.factura.fechaPago}" id="factura_fecha_pago" styleClass="app_text_uppercase app_text_center">
                        <f:convertDateTime pattern="dd/MMM/yyyy" locale="es"/>
                    </h:outputText>
                    <p:tooltip for="factura_fecha_pago" value="#{ventaInfo.factura.fechaPago}" styleClass="app_text_uppercase">
                        <f:convertDateTime pattern="dd/MMM/yyyy" />
                    </p:tooltip>
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Días De Adelanto" title="Días De Adelanto"/>
                    </f:facet>
                    <h:outputText value="#{facturaVentaLote.diasAdelanto(ventaInfo)}" id="factura_dias_adelanto" styleClass="app_block app_text_right" />
                    <p:tooltip for="factura_dias_adelanto" value="#{facturaVentaLote.diasAdelanto(ventaInfo)}" />
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Tasa de Interés" title="Tasa de Interés"/>
                    </f:facet>
                    <h:outputText value="#{facturaVentaLote.interesTotal(ventaInfo)}" id="factura_interes_total" styleClass="app_block app_text_right" />
                    <p:tooltip for="factura_interes_total" value="#{facturaVentaLote.interesTotal(ventaInfo)}" />
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Descuento" title="Descuento"/>
                    </f:facet>
                    <h:outputText value="#{facturaVentaLote.montoDescuento(ventaInfo)}" id="factura_monto_total_descuento" styleClass="app_block app_text_right" />
                    <p:tooltip for="factura_monto_total_descuento" value="#{facturaVentaLote.montoDescuento(ventaInfo)}" />
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Monto a Desembolsar" title="Monto a Desembolsar"/>
                    </f:facet>
                    <h:outputText value="#{facturaVentaLote.montoDesembolso(ventaInfo)}" id="factura_monto_total_desembolso" styleClass="app_block app_text_right" />
                    <p:tooltip for="factura_monto_total_desembolso" value="#{facturaVentaLote.montoDesembolso(ventaInfo)}" />
                </p:column>

                <p:column style="min-width: 350px; width: 350px;">
                    <f:facet name="header">
                        <h:outputText value="Detalle Entidad Financiera" title="Detalle Entidad Financiera"/>
                    </f:facet>
                    <h:outputText value="#{facturaVentaLote.detalleEntidad(ventaInfo)}" escape="false" />
                </p:column>
            </p:dataTable>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-4">
            <div>Comentario Adicional</div>
        </div>
        <div class="col-md-8">
            <p:inputTextarea class="form-control" rows="4" value="#{facturaVentaLote.ventaLoteFacturasBancoRio.currentInput.comentarios}"/>
        </div>
    </div>

</ui:composition>
