<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="venta_factura_form">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

        <div class="form-group row">
            <div class="col-md-12">
                <div class="h3">Solicitud de Desembolso de Facturas</div>
                <hr/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <div>Entidad Financiera</div>
                <span class="form-text text-muted">Seleccione una Entidad Financiera para inicar el proceso de desembolso.</span>
            </div>
            <div class="col-md-8">
                <p:selectOneMenu value="#{facturaVentaLote.entidadSelected}" class="app_form_input" converter="omnifaces.SelectItemsConverter" var="entidad" filter="true" filterMatchMode="contains">
                    <p:ajax listener="#{facturaVentaLote.onEntidadSelectedChanged}" process="@form" update="@form"/>
                    <f:selectItem itemValue="#{null}" itemLabel="" />
                    <f:selectItems value="#{facturaVentaLote.entidadesSeleccionables}" />
                    <p:column>
                        <h:outputText value="#{utils.personaLabel(entidad)}" escape="false"/>
                    </p:column>
                </p:selectOneMenu>
            </div>
        </div>

        <!-- SEPSA -->
        <ui:fragment rendered="#{facturaVentaLote.entidadSeleccionadaEsSepsa()}">
            <ui:include src="/app/abm/factura/fragments/venta_lote_sepsa.xhtml" />
        </ui:fragment>

        <!-- BANCO RIO -->
        <ui:fragment rendered="#{facturaVentaLote.entidadSeleccionadaEsBancoRio()}">
            <ui:include src="/app/abm/factura/fragments/venta_lote_banco_rio.xhtml" />
        </ui:fragment>

        <p:separator />

        <div class="form-group row">
            <div class="col-md-12">
                <small class="form-text text-muted">Una vez confirmada la acción esta ya no podrá ser cancelada.</small>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <p:commandButton value="Confirmar" action="#{facturaVentaLote.venderLote}" disabled="#{facturaVentaLote.puedeConfirmar eq false}" />
            </div>
        </div>
    </h:form>

    <h:form id="venta_factura_form_messages" style="margin-top: 10px;">
        <div class="row">
            <div class="col-md-12">
                <sepsa:messages />
            </div>
        </div>
    </h:form>

</ui:composition>
