<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="../../../templates/template.xhtml">
        <ui:define name="content">
            <!-- FILTROS PARA LISTA DE CONVENIOS -->
            <div class="row">
                <div class="col-md-12">
                    <sepsa:panel id="filtro_convenios_panel">
                        <f:facet name="panelHeader">
                            Filtros de Búsqueda
                        </f:facet>
                        <f:facet name="panelBody">
                            <ui:include src="/app/abm/convenio/fragments/tabla_filtros.xhtml" />
                        </f:facet>
                    </sepsa:panel>
                </div>
            </div>

            <div class="row">
                <!-- MENU DE OPCIONES -->
                <div class="col-md-2">
                    <h:form>
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        <sepsa:panel  inlineBody="true" panelId="t">
                            <f:facet name="panelHeader">
                                Opciones
                            </f:facet>
                            <f:facet name="panelBody">
                                <div class="list-group">
                                    <div class="list-group-item app_no_border">
                                        <p:commandButton class="btn-block" value="Crear Nuevo Convenio" icon="fa fa-plus" action="#{convenios.initCrearConvenio}" />
                                    </div>
                                    <div class="list-group-item app_no_border">
                                        <p:commandButton class="btn-block" value="Eliminar Convenio" icon="fa fa-trash" action="#{convenios.initEliminarConvenio}" />
                                    </div>
                                </div>
                            </f:facet>
                        </sepsa:panel>
                    </h:form>
                </div>

                <!-- LISTA DE CONVENIOS -->
                <div class="col-md-10">
                    <sepsa:panel id="tabla_convenios_panel" panelId="s">
                        <f:facet name="panelHeader">
                            <h4 class="app_panel_title pull-left">Lista de Convenios</h4>
                            <div class="btn-group pull-right">
                                <h:form>
                                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                    <p:commandLink class="btn btn-default btn-sm" action="#{convenios.recargarListaConvenios}"><i class="fa fa-refresh"/></p:commandLink>
                                </h:form>
                            </div>
                        </f:facet>
                        <f:facet name="panelBody">
                            <ui:include src="/app/abm/convenio/fragments/tabla_convenios.xhtml" />
                        </f:facet>
                    </sepsa:panel>
                </div>
            </div>

            <!-- Cuadro de dialogo para visualizacion de cargos -->
            <sepsa:dialog id="cargos_convenio_dialog" wide="false" W="60%">
                <h:form id="cargos_convenio_form">
                    <label></label>
                    <h3><h:outputText value="Cargos Configurados" /></h3>
                    <p:separator />
                    <div style="font-size: 1.5rem;">
                        <c:forEach items="#{convenios.cargosConfigurados}" var="view">
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <b>
                                        <h:outputText value="#{view.descripcionCorta}" />
                                    </b>
                                    <p class="text-muted"><h:outputText value="#{view.descripcionLarga}" /></p>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <h:outputText value="#{view.valor}" />
                                </div>
                            </div>
                        </c:forEach>
                    </div>
                </h:form>
            </sepsa:dialog>

            <!-- Cuadro de dialogo para visualizacion de cargos -->
            <sepsa:dialog id="eliminar_convenio_confirm_dialog" wide="false" W="40%">
                <h:form id="eliminar_convenio_confirm_form">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <h3>¿Está seguro que desea eliminar los convenios seleccionados?</h3>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <small class="form-text text-muted">Una vez confirmada la acción esta ya no podrá ser cancelada.</small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <p:commandButton value="Confirmar" action="#{convenios.eliminarConvenio}"/>
                            &nbsp;&nbsp;
                            <p:commandButton type="button" value="Cancelar" onclick="PF('eliminar_convenio_confirm_dialog_dlg').hide();"  />
                        </div>
                    </div>
                </h:form>
            </sepsa:dialog>

            <script type="application/javascript">
                $(document).ready(function() {
                var s = $('[data-panel-id="s"]')[0];
                var t = $('[data-panel-id="t"]')[0];
                addStickyOperacionesBehavior(s, t);
                });
            </script>
        </ui:define>
    </ui:composition>
</html>