<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:sec="http://www.springframework.org/security/tags"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      >
    <f:metadata>
        <f:viewParam name="id" value="#{altaFactura.idFacturaParam}" />
        <f:viewAction action="#{altaFactura.init2}"/>
    </f:metadata>

    <ui:composition template="../../../templates/template.xhtml">
        <ui:define name="content">
            <sec:authorize access="hasRole('ROLE_PROVEEDOR')">
                <div class="container well" style="background: white;">
                    <!-- SE DESPLIEGA CUANDO LA FACTURA NO PUEDE SER EDITADA -->
                    <h:form rendered="#{altaFactura.input == null}">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        <div class="h3">Factura Inválida</div>
                        <hr/>
                        <p>
                            La factura indicada no se puede editar. Es posible que la factura indicada no esté registrada o bien exista una restricción externa que no permita su edición.
                        </p>
                        <br/>
                        <h:link class="btn btn-primary" value="Ver Lista de Facturas" outcome="/app/abm/factura/lista?faces-redirect=true" />
                    </h:form>

                    <!-- SE DESPLIEGA CUANDO LA FACTURA NO PUEDE SE RECUPERADA PARA EDICION -->
                    <ui:fragment rendered="#{altaFactura.input != null}">
                        <ui:include src="/app/abm/factura/fragments/factura_campos.xhtml" />
                    </ui:fragment>
                </div>
            </sec:authorize>
        </ui:define>
    </ui:composition>
</html>