<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:sec="http://www.springframework.org/security/tags"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="../../../templates/template.xhtml">
        <ui:define name="content">
            <!-- FILTROS PARA LISTA DE FACTURAS -->
            <div class="row">
                <div class="col-md-12">
                    <sepsa:panel id="filtro_facturas_panel">
                        <f:facet name="panelHeader">
                            Filtros de Búsqueda
                        </f:facet>
                        <f:facet name="panelBody">
                            <ui:include src="/app/abm/factura/fragments/tabla_filtros.xhtml" />
                        </f:facet>
                    </sepsa:panel>
                </div>
            </div>

            <div class="row">
                <!-- MENU DE OPCIONES -->
                <div class="#{facturas.opcionesPanelClass}">
                    <sec:authorize access="! hasRole('ROLE_ADMINISTRADOR')" >
                        <h:form>
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <sepsa:panel  inlineBody="true" panelId="t">
                                <f:facet name="panelHeader">
                                    Opciones
                                </f:facet>
                                <f:facet name="panelBody">
                                    <div class="list-group">
                                        <sec:authorize access="hasRole('ROLE_COMPRADOR')">
                                            <div class="list-group-item app_no_border">
                                                <p:commandButton class="btn-block" value="Conformar Factura Seleccionada" icon="fa fa-check" action="#{facturas.initConformarFactura}" />
                                            </div>
                                            <div class="list-group-item app_no_border">
                                                <p:commandButton class="btn-block" value="Conformar Factura/s Seleccionada/s" icon="fa fa-check" action="#{facturas.initConformarFacturas}" />
                                            </div>
                                            <div class="list-group-item app_no_border">
                                                <p:commandButton class="btn-block" value="Rechazar Factura/s Seleccionada/s" icon="fa fa-close" action="#{facturas.initRechazoFacturasPorComprador}" />
                                            </div>
                                        </sec:authorize>

                                        <sec:authorize access="hasRole('ROLE_PROVEEDOR')" >
                                            <div class="list-group-item app_no_border">
                                                <p:commandButton class="btn-block" value="Agregar Nueva Factura" icon="fa fa-file" action="#{facturas.initCargarFactura}" />
                                            </div>
                                        </sec:authorize>

                                        <sec:authorize access="hasAnyRole('ROLE_COMPRADOR', 'ROLE_PROVEEDOR')" >
                                            <div class="list-group-item app_no_border">
                                                <p:commandButton class="btn-block" value="Agregar Nuevas Facturas" icon="fa fa-file" action="#{facturas.initCargarFacturas}" />
                                            </div>
                                        </sec:authorize>

                                        <sec:authorize access="hasRole('ROLE_PROVEEDOR')" >
                                            <div class="list-group-item app_no_border">
                                                <p:commandButton class="btn-block" value="Editar Factura Seleccionada" icon="fa fa-pencil" action="#{facturas.initEditarFactura}" />
                                            </div>
                                            <div class="list-group-item app_no_border">
                                                <p:commandButton class="btn-block" value="Solicitar Conformación de Facturas Seleccionadas" icon="fa fa-exchange" action="#{facturas.initSolicitudConformacionFacturas}"/>
                                            </div>
                                            <div class="list-group-item app_no_border">
                                                <p:commandButton class="btn-block" value="Solicitar Desembolso de Facturas Seleccionadas" icon="fa fa-dollar" action="#{facturas.initSolicitudDesembolsoFacturas}"/>
                                            </div>
                                            <div class="list-group-item app_no_border">
                                                <p:commandButton class="btn-block" value="Rechazar Factura/s Seleccionada/s" icon="fa fa-close" action="#{facturas.initRechazoFacturasPorProveedor}"/>
                                            </div>
                                        </sec:authorize>

                                        <sec:authorize access="hasRole('ROLE_ENTIDAD_FINANCIERA')" >
                                            <div class="list-group-item app_no_border">
                                                <p:commandButton class="btn-block" value="Aceptar Factura/s Seleccionada/s para Análisis" icon="fa fa-check" action="#{facturas.initAnalisisFactura}"/>
                                            </div>
                                            <div class="list-group-item app_no_border">
                                                <p:commandButton class="btn-block" value="Rechazar Desembolso de Factura/s Seleccionada/s" icon="fa fa-close" action="#{facturas.initRechazoFacturasPorEntidad}"/>
                                            </div>
                                            <div class="list-group-item app_no_border">
                                                <p:commandButton class="btn-block" value="Registrar Desembolso de Factura Seleccionada" icon="fa fa-dollar" action="#{facturas.initRegistroDesembolsoFactura}"/>
                                            </div>
                                            <div class="list-group-item app_no_border">
                                                <p:commandButton class="btn-block" value="Registrar Pago de Factura Seleccionada" icon="fa fa-money" action="#{facturas.initRegistroCobroFacturas}"/>
                                            </div>
                                        </sec:authorize>
                                    </div>
                                </f:facet>
                            </sepsa:panel>
                        </h:form>
                    </sec:authorize>
                </div>

                <!-- LISTA DE FACTURAS -->
                <div class="#{facturas.listaFacturasPanelClass}">
                    <sepsa:panel id="tabla_facturas_panel" panelId="s">
                        <f:facet name="panelHeader">
                            <h4 class="app_panel_title pull-left">Lista de Facturas</h4>
                            <div class="btn-group pull-right">
                                <h:form>
                                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                    <p:commandLink class="btn btn-default btn-sm" action="#{facturas.recargarListaFacturas}"><i class="fa fa-refresh"/></p:commandLink>
                                </h:form>
                            </div>
                        </f:facet>
                        <f:facet name="panelBody">
                            <ui:include src="/app/abm/factura/fragments/tabla_facturas.xhtml" />
                        </f:facet>
                    </sepsa:panel>
                </div>
            </div>

            <!-- Cuadro de dialogo para solicitud de conformacion de facturas -->
            <sepsa:dialog id="solicitud_conformacion_facturas_dialog" wide="false" W="50%">
                <ui:include src="/app/abm/factura/fragments/conformacion_factura_solicitud.xhtml"/>
            </sepsa:dialog>

            <!-- Cuadro de dialogo para inicio de analisis de facturas -->
            <sepsa:dialog id="analisis_facturas_dialog" wide="false" W="50%">
                <ui:include src="/app/abm/factura/fragments/analisis_factura.xhtml"/>
            </sepsa:dialog>

            <!-- Cuadro de dialogo para conformacion de facturas (1) -->
            <sepsa:dialog id="conformacion_factura_dialog" wide="false" W="50%">
                <ui:include src="/app/abm/factura/fragments/conformacion_factura.xhtml"/>
            </sepsa:dialog>

            <!-- Cuadro de dialogo para conformacion de facturas (2) -->
            <sepsa:dialog id="confirmacion_conformacion_factura_dialog" wide="false" W="50%">
                <ui:include src="/app/abm/factura/fragments/conformacion_factura_confirmacion.xhtml"/>
            </sepsa:dialog>

            <!-- Cuadro de dialogo para advertencia de conformacion directa de facturas -->
            <sepsa:dialog id="conformacion_directa_factura_dialog" wide="false" W="50%">
                <ui:include src="/app/abm/factura/fragments/conformacion_factura_directa.xhtml"/>
            </sepsa:dialog>

            <!-- Cuadro de dialogo para rechazo de facturas por comprador -->
            <sepsa:dialog id="rechazo_factura_por_comprador_dialog" wide="false" W="50%">
                <ui:include src="/app/abm/factura/fragments/rechazo_factura_por_comprador.xhtml"/>
            </sepsa:dialog>

            <!-- Cuadro de dialogo para rechazo de facturas por proveedor -->
            <sepsa:dialog id="rechazo_factura_por_proveedor_dialog" wide="false" W="50%">
                <ui:include src="/app/abm/factura/fragments/rechazo_factura_por_proveedor.xhtml"/>
            </sepsa:dialog>

            <!-- Cuadro de dialogo para rechazo de facturas por entidad -->
            <sepsa:dialog id="rechazo_factura_por_entidad_dialog" wide="false" W="50%">
                <ui:include src="/app/abm/factura/fragments/rechazo_factura_por_entidad.xhtml"/>
            </sepsa:dialog>

            <!-- Cuadro de dialogo para registro de cobro de facturas -->
            <sepsa:dialog id="cobro_factura_dialog" wide="false" W="50%">
                <ui:include src="/app/abm/factura/fragments/cobro_factura.xhtml"/>
            </sepsa:dialog>

            <!-- Cuadro de dialogo para visualizar el historico de una factura -->
            <sepsa:dialog id="historico_factura_dialog" wide="false" W="60%">
                <ui:include src="/app/abm/factura/fragments/historico.xhtml"/>
            </sepsa:dialog>

            <!-- Cuadro de diálogo para visualizar archivos adjuntos -->
            <sepsa:dialog id="archivos_adjuntos_dialog" wide="false" W="60%">
                <sepsa:archivosAdjuntos id="archivos_adjuntos" archivos="#{facturas.archivosAdjuntos}" />
            </sepsa:dialog>

            <!-- Cuadro de dialogo para visualizar la calculadora de operaciones -->
            <sepsa:dialog id="calculadora_interes_factura_dialog" W="50%" wide="false">
                <ui:include src="/app/abm/factura/fragments/calculator_base.xhtml">
                    <ui:param name="beanCalculadora" value="#{facturas.calculadora}"/>
                </ui:include>
            </sepsa:dialog>

            <script type="application/javascript">
                $(document).ready(function() {
                var s = $('[data-panel-id="s"]')[0];
                var t = $('[data-panel-id="t"]')[0];
                addStickyOperacionesBehavior(s, t);
                });
            </script>
        </ui:define>
    </ui:composition>
</html>