<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:sec="http://www.springframework.org/security/tags"
      >

    <ui:composition template="../../../templates/template.xhtml">
        <ui:define name="content">
            <!-- Cuadro de confirmacion -->
            <sepsa:dialog id="alta_facturas_confirmar_dialog" W="40%" wide="false">
                <ui:include src="/app/abm/factura/fragments/factura_upload_confirmacion.xhtml" />
            </sepsa:dialog>

            <!-- Formulario de carga de datos -->
            <div class="container well" style="background: white;">
                <ui:include src="/app/abm/factura/fragments/factura_upload.xhtml" />
            </div>
        </ui:define>
    </ui:composition>
</html>