<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="cambiar_personeria_form">
        <!-- DATOS DE COMPRADOR -->
        <div class="form-group row">
            <div class="col-md-12">
                <div class="h3">Datos de Persona</div>
                <hr/>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">RUC</label>
            <div class="col-md-4">#{cambiarPersoneria.ruc}</div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Personería</label>
            <div class="col-md-4">
                <ul>
                    <li>
                        <p:selectBooleanCheckbox itemLabel="Persona Física" value="#{cambiarPersoneria.input.esPersonaFisica}">
                            <p:ajax update="@form" process="@form" listener="#{cambiarPersoneria.onPersonaFisicaChanged}" />
                        </p:selectBooleanCheckbox>
                    </li>
                    <li>
                        <p:selectBooleanCheckbox itemLabel="Persona Jurídica" value="#{cambiarPersoneria.input.esPersonaJuridica}">
                            <p:ajax update="@form" process="@form" listener="#{cambiarPersoneria.onPersonaJuridicaChanged}" />
                        </p:selectBooleanCheckbox>
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <p class="form-text text-muted" style="text-align: justify;">Observación: Al modificar el tipo de personería, los datos del cliente serán reestablecidos a valores vacíos (Nombres/Apellidos, Razón Social/Nombre de Fantasía, principalmente). Se deberá completar nuevamenta la ficha de cliente (desde el perfil de usuario asignado al cliente en cuestión) para establecer los datos finales a ser utilizados.</p>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <p:commandButton value="Guardar" action="#{cambiarPersoneria.guardar}" process="@form" update="@form" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <sepsa:messages />
            </div>
        </div>
    </h:form>

</ui:composition>