<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="cambiar_personeria_form">
        <!-- DATOS DE COMPRADOR -->
        <div class="form-group row">
            <div class="col-md-12">
                <div class="h3">Información de Contacto</div>
                <hr/>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Razón Social</label>
            <div class="col-md-4">#{verContacto.razonSocial()}</div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">RUC</label>
            <div class="col-md-4">#{verContacto.ruc()}</div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <hr/>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Calle 1</label>
            <div class="col-md-10">
                <p:inputText class="app_form_input" value="#{verContacto.direccion.calle1}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Calle 2</label>
            <div class="col-md-10">
                <p:inputText class="app_form_input" value="#{verContacto.direccion.calle2}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Nro. Casa</label>
            <div class="col-md-10">
                <p:inputText class="app_form_input" value="#{verContacto.direccion.nroCalle}" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <hr/>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Nro. Teléfono</label>
            <div class="col-md-10">
                <p:inputText class="app_form_input" value="#{verContacto.contacto.nroLineaBaja}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Nro. Celular</label>
            <div class="col-md-10">
                <p:inputText class="app_form_input" value="#{verContacto.contacto.nroCelular}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">E-mail</label>
            <div class="col-md-10">
                <p:inputText class="app_form_input" value="#{verContacto.contacto.email}" />
            </div>
        </div>
    </h:form>

</ui:composition>