<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:sec="http://www.springframework.org/security/tags">

    <ui:composition template="../../../../templates/template.xhtml">
        <ui:define name="content">
            <sec:authorize access="hasRole('ROLE_ADMINISTRADOR')">
                <div class="container well" style="background: white;">
                    <h:form>
                        <h3>BANCO RIO S.A.E.C.A</h3>
                        <hr/>
                        <ul>
                            <li style="list-style: disc;">
                                <p:commandButton class="btn btn-primary btn-block" style="width: 300px;" value="Actualizar Compradores Adheridos" action="#{integracionRio.actualizarCompradoresNuevos}" />
                                <p class="text-muted">Permite actualizar la lista de compradores que son adheridos de forma independiente por la entidad.</p>
                            </li>
                            <li style="list-style: disc; margin-top: 1rem;">
                                <p:commandButton class="btn btn-primary btn-block" style="width: 300px;" value="Actualizar Estado de Desembolsos" action="#{integracionRio.actualizarDesembolsosPendientes}" />
                                <p class="text-muted">Permite actualizar el estado de facturas cuyo desembolso ya fue solicitado a la entidad.</p>
                            </li>
                            <li style="list-style: disc; margin-top: 1rem;">
                                <p:commandButton class="btn btn-primary btn-block" style="width: 300px;" value="Actualizar Facturas Cobradas" action="#{integracionRio.actualizarFacturasLiquidables}" />
                                <p class="text-muted">Permite actualizar el estado de facturas desembolsadas que ya están listas para liquidar.</p>
                            </li>
                            <li style="list-style: disc; margin-top: 1rem;">
                                <p:commandButton class="btn btn-primary btn-block" style="width: 300px;" value="Liquidar Facturas Cobradas" action="#{integracionRio.actualizarLiquidacionesNuevas}" />
                                <p class="text-muted">Inicia el proceso de liquidación de facturas. Solicita a la entidad la liquidación de facturas aprobadas por la misma.</p>
                            </li>
                            <li style="list-style: disc; margin-top: 1rem;">
                                <p:commandButton class="btn btn-primary btn-block" style="width: 300px;" value="Actualizar Estado Liquidaciones" action="#{integracionRio.actualizarLiquidacionesPendientes}" />
                                <p class="text-muted">Actualiza el estado de seguimiento para facturas cuya liquidación fue solicitada a la entidad.</p>
                            </li>
                            <li style="list-style: disc;">
                                <p:commandButton class="btn btn-primary btn-block" style="width: 300px;" value="Descargar Estado de Facturas" ajax="false" action="#{integracionRio.descargarListaOperacionesMes}" />
                                <p class="text-muted">Listado de facturas adelantadas hasta la fecha.</p>
                            </li>
                            <li style="list-style: disc;">
                                <p:commandButton class="btn btn-primary btn-block" style="width: 300px;" value="Descargar Estado de Facturas (Mes)" ajax="false" action="#{integracionRio.descargarListaOperacionesALaFecha}" />
                                <p class="text-muted">Listado de facturas adelantadas en el mes corriente.</p>
                            </li>
                        </ul>
                    </h:form>
                </div>
            </sec:authorize>
        </ui:define>
    </ui:composition>

</html>