<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:composition template="/templates/template.xhtml">
        <ui:define name="content">
            <div class="container clearfix">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-center">
                            <i class="fa fa-warning" style="color: #EF5350 !important"></i>&#160;&#160;Acceso Denegado
                        </h2>
                        <div class="app_h_divider" style="margin-top: 3em; margin-bottom: 1em;"></div>
                        <p style="font-size: 2rem;">
                            Ir a inicio de sesión: <h:link outcome="/index.xhtml?faces-redirect=true" style="color: blue !important;">[LOGIN]</h:link>
                        </p>
                        <p style="font-size: 2rem; text-align: justify;">
                            Lo sentimos, pero no cuenta con los permisos suficientes para acceder a la página solicitada. Puede completar el siguiente formulario para ayudarnos a solucionar el problema más rápidamente.
                        </p>
                    </div>
                </div>
                <div class="row" style="margin-top: 2em;">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Enviar Comentario</h4>
                            </div>
                            <div class="panel-body">
                                <ui:include src="/fragments/contact.xhtml" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>

