<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:pt="http://java.sun.com/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/templates/template.xhtml">
        <ui:define name="content">
            <!-- Formulario de Inicio de Sesión -->
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Ingreso al sistema</h4>
                    </div>
                    <div class="panel-body">
                        <h:form id="loginForm" class="form-signin">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user" style="width: 10px;"></i></span>
                                <h:inputText class="form-control" value="#{vLogin.username}" pt:autofocus="true"/>
                            </div>
                            <br/>

                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock" style="width: 10px;"></i></span>
                                <h:inputSecret class="form-control" value="#{vLogin.password}" />
                            </div>
                            <br/>

                            <h:panelGroup layout="block" rendered="#{vLogin.currentInputMessages.hasMessages}">
                                <p:messages showSummary="false" showDetail="true" showIcon="false" closable="true" for="#{vLogin.currentInputMessages.id}" />
                            </h:panelGroup>

                            <br/>
                            <h:commandButton styleClass="btn btn-block" value="Ingresar" action="#{vLogin.onLogin()}">
                                <f:ajax event="click" execute="@form" render="@form" />
                            </h:commandButton>
                        </h:form>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h:link value="¿Olvidó su contraseña?" outcome="/app/account?faces-redirect=true" style="color: blue !important;" />
                        </li>
                    </ul>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>