<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:sec="http://www.springframework.org/security/tags">

    <ui:composition template="../../../templates/template.xhtml">
        <ui:define name="content">
            <sec:authorize access="hasRole('ROLE_ADMINISTRADOR')">
                <div class="container well" style="background: white;">
                    <h:form>
                        <h3>Integraciones con Entidades Financieras</h3>
                        <hr/>
                        <ul>
                            <li style="list-style: disc;">
                                <h:link class="btn btn-link navbar-btn" style="color: blue !important;" outcome="/app/abm/integracion_entidades/sepsa/home?faces-redirect=true" value="SEPSA" />
                            </li>
                            <li style="list-style: disc;">
                                <h:link class="btn btn-link navbar-btn" style="color: blue !important;" outcome="/app/abm/integracion_entidades/banco_rio/home?faces-redirect=true" value="BANCO RIO S.A.E.C.A." />
                            </li>
                        </ul>
                    </h:form>
                </div>
            </sec:authorize>
        </ui:define>
    </ui:composition>

</html>