<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="habilitar_perfil_form">
        <!-- DATOS DE PROVEEDOR -->
        <div class="form-group row">
            <div class="col-md-12">
                <div class="h3">Perfiles de Usuario</div>
                <hr/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <ul>
                    <li>
                        <p:selectBooleanCheckbox itemLabel="Comprador" value="#{usuarioHabilitarPerfilesMB.input.esComprador}" />
                    </li>
                    <li>
                        <p:selectBooleanCheckbox itemLabel="Proveedor" value="#{usuarioHabilitarPerfilesMB.input.esProveedor}" />
                    </li>
                    <li>
                        <p:selectBooleanCheckbox itemLabel="Entidad Financiera" value="#{usuarioHabilitarPerfilesMB.input.esEntidadFinanciera}" />
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <p:commandButton value="Guardar" action="#{usuarioHabilitarPerfilesMB.guardar}" process="@form" update="@form" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <sepsa:messages />
            </div>
        </div>
    </h:form>

</ui:composition>