<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="tabla_usuarios_form">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <p:dataTable
            id="tabla_usuarios"
            binding="#{usuarios.lista.tableBind}"
            var="usuario"
            value="#{usuarios.lista.items}"
            lazy="true"
            emptyMessage="No existen datos que mostrar"
            paginator="true"
            currentPageReportTemplate="Mostrando {startRecord} a {endRecord} de {totalRecords}"
            paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {SelectedCount}"
            paginatorAlwaysVisible="true"
            paginatorPosition="top"
            selection="#{usuarios.lista.multiSelectedItem}"
            rows="50"
            rowsPerPageTemplate="10,15,20,30,50,100"
            rowKey="#{usuario.id}"
            reflow="true"
            resizableColumns="true"
            >

            <!-- Elemento que indica la cantidad de filas seleccionadas -->
            <f:facet name="{SelectedCount}">
                <h:outputText class="ui-paginator-current" value=" (#{usuarios.lista.multiSelectedItem.size()} elementos seleccionados)" rendered="#{usuarios.lista.multiSelectedItem.size() > 0}"/>
            </f:facet>

            <!-- Eventos que actualizan las filas seleccionads -->
            <p:ajax event="toggleSelect" update="@parent" />
            <p:ajax event="rowSelect" update="@parent" />
            <p:ajax event="rowUnselect" update="@parent" />
            <p:ajax event="rowSelectCheckbox" update="@parent" />
            <p:ajax event="rowUnselectCheckbox" update="@parent" />
            <p:ajax event="page" oncomplete="$.fn.matchHeight._update();" />

            <p:column selectionMode="multiple" class="app_cbx_selection" style="margin: 0; width: 50px;">
            </p:column>

            <p:column headerText="ID">
                <h:outputText value="#{usuario.id}" id="id"/>
                <p:tooltip for="id" value="#{usuario.id}" />
            </p:column>

            <p:column headerText="Usuario">
                <h:outputText value="#{usuario.usuario}" id="usuario"/>
                <p:tooltip for="usuario" value="#{usuario.usuario}" />
            </p:column>

            <p:column headerText="Aisgnado A">
                <div><strong>Razón Social:</strong>&nbsp;<h:outputText value="#{usuarios.razonSocial(usuario)}" /></div>
                <div><strong>Nombre de Fantasía:</strong>&nbsp;<h:outputText value="#{usuarios.nombreFantasia(usuario)}" /></div>
                <div><strong>RUC:&nbsp;</strong>&nbsp;<h:outputText value="#{usuarios.ruc(usuario)}" /></div>
            </p:column>

            <p:column headerText="Perfiles">
                <h:outputText value="#{usuarios.perfiles(usuario)}" escape="false" />
            </p:column>

        </p:dataTable>
    </h:form>

</ui:composition>