<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="filtro_usuarios_form" class="form-horizontal" role="form">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

        <!-- Valores de Filtro -->
        <p:outputPanel id="filtro_usuarios_inner">
            <div class="row auto-clear">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                    <p:outputLabel class="col-md-3 control-label">ID</p:outputLabel>
                    <div class="col-md-9">
                        <p:inputText value="#{usuarios.lista.filtro.id}" class="app_form_input" />
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                    <p:outputLabel class="col-md-3 control-label">Usuario</p:outputLabel>
                    <div class="col-md-9">
                        <p:inputText value="#{usuarios.lista.filtro.usuario}" class="app_form_input" />
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                    <p:outputLabel class="col-md-3 control-label">Cliente</p:outputLabel>
                    <div class="col-md-9">
                        <p:inputText value="#{usuarios.lista.filtro.cliente}" class="app_form_input" />
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                    <p:outputLabel class="col-md-3 control-label">RUC</p:outputLabel>
                    <div class="col-md-9">
                        <p:inputText value="#{usuarios.lista.filtro.ruc}" class="app_form_input" />
                    </div>
                </div>
            </div>
        </p:outputPanel>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                <div class="col-md-12" style="margin-top: 10px;">
                    <p:commandButton value="#{usuarios.btnFiltrarText}" action="#{usuarios.filtrarLista}"/>
                    &#160;&#160;
                    <p:commandButton value="Limpiar" action="#{usuarios.limpiarFiltroForm}"/>
                </div>
            </div>
        </div>

        <!-- Bloquea el panel de valores de filtro para no permitir la edicion de los mismos -->
        <p:blockUI block="filtro_usuarios_inner" widgetVar="bui"/>
    </h:form>

</ui:composition>