<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="alta_usuario_form">
        <!-- DATOS DE PROVEEDOR -->
        <div class="form-group row">
            <div class="col-md-12">
                <div class="h3">Nuevo Usuario</div>
                <hr/>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Cliente</label>
            <div class="col-md-4">
                <p:selectOneMenu value="#{usuarioAlta.input.persona}" class="app_form_input" converter="omnifaces.SelectItemsConverter" var="persona" filter="true" filterMatchMode="contains">
                    <p:ajax process="@form" update="@form"/>
                    <f:selectItem itemValue="#{null}" itemLabel="" />
                    <f:selectItems value="#{usuarioAlta.personasSeleccionables}" />
                    <p:column>
                        <h:outputText value="#{utils.personaLabel(persona)}" escape="false"/>
                    </p:column>
                </p:selectOneMenu>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Nombre de Usuario</label>
            <div class="col-md-4">
                <p:inputText value="#{usuarioAlta.input.usuario}" class="app_form_input" />
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Contraseña</label>
            <div class="col-md-4">
                <p:inputText value="#{usuarioAlta.input.contrasena}" class="app_form_input" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <p class="form-text text-muted" style="text-align: justify;">Observación: Luego de crear las crendeciales de usuario, se debe asignar los perfiles correspondientes al mismo. Este paso no se realiza de forma automática.</p>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <p:commandButton value="Guardar" action="#{usuarioAlta.guardar}" process="@form" update="@form" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <sepsa:messages />
            </div>
        </div>
    </h:form>

</ui:composition>