<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:sec="http://www.springframework.org/security/tags"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="../../../templates/template.xhtml">
        <ui:define name="content">
            <!-- FILTROS PARA LISTA DE USUARIOS -->
            <div class="row">
                <div class="col-md-12">
                    <sepsa:panel id="filtro_usuarios_panel">
                        <f:facet name="panelHeader">
                            Filtros de Búsqueda
                        </f:facet>
                        <f:facet name="panelBody">
                            <ui:include src="/app/abm/usuarios/fragments/tabla_filtros.xhtml" />
                        </f:facet>
                    </sepsa:panel>
                </div>
            </div>

            <div class="row">
                <!-- MENU DE OPCIONES -->
                <div class="#{usuarios.opcionesPanelClass}">
                    <sec:authorize access="hasRole('ROLE_ADMINISTRADOR')" >
                        <h:form>
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <sepsa:panel  inlineBody="true" panelId="t">
                                <f:facet name="panelHeader">
                                    Opciones
                                </f:facet>
                                <f:facet name="panelBody">
                                    <div class="list-group">
                                        <div class="list-group-item app_no_border">
                                            <p:commandButton class="btn-block" value="Nuevo" icon="fa fa-check" action="#{usuarios.initAltaUsuario}" />
                                        </div>
                                        <div class="list-group-item app_no_border">
                                            <p:commandButton class="btn-block" value="Eliminar" icon="fa fa-trash" action="#{usuarios.eliminarUsuario}" />
                                        </div>
                                        <div class="list-group-item app_no_border">
                                            <p:commandButton class="btn-block" value="Habilitar Perfil" action="#{usuarios.initHabilitarPerfil}" />
                                        </div>
                                        <div class="list-group-item app_no_border">
                                            <p:commandButton class="btn-block" value="Cambiar Contraseña" action="#{usuarios.initCambiarContrasena}" />
                                        </div>
                                    </div>
                                </f:facet>
                            </sepsa:panel>
                        </h:form>
                    </sec:authorize>
                </div>

                <!-- LISTA DE USUARIOS -->
                <div class="#{usuarios.listaUsuariosPanelClass}">
                    <sepsa:panel id="tabla_usuarios_panel" panelId="s">
                        <f:facet name="panelHeader">
                            <h4 class="app_panel_title pull-left">Lista de Usuarios</h4>
                            <div class="btn-group pull-right">
                                <h:form>
                                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                    <p:commandLink class="btn btn-default btn-sm" action="#{usuarios.recargarListaUsuarios}"><i class="fa fa-refresh"/></p:commandLink>
                                </h:form>
                            </div>
                        </f:facet>
                        <f:facet name="panelBody">
                            <ui:include src="/app/abm/usuarios/fragments/tabla_usuarios.xhtml" />
                        </f:facet>
                    </sepsa:panel>
                </div>
            </div>

            <script type="application/javascript">
                $(document).ready(function() {
                var s = $('[data-panel-id="s"]')[0];
                var t = $('[data-panel-id="t"]')[0];
                addStickyOperacionesBehavior(s, t);
                });
            </script>
        </ui:define>
    </ui:composition>
</html>