<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:sec="http://www.springframework.org/security/tags"
      >

    <ui:composition template="../../../templates/template.xhtml">
        <ui:define name="content">
            <sec:authorize access="hasRole('ROLE_COMPRADOR')">
                <div class="container well" style="background: white;">
                    <ui:include src="/app/abm/proveedor/fragments/proveedor_nuevo.xhtml" />
                </div>
            </sec:authorize>
        </ui:define>
    </ui:composition>
</html>