<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:sec="http://www.springframework.org/security/tags"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="../../../templates/template.xhtml">
        <ui:define name="content">
            <!-- FILTROS PARA LISTA DE PROVEEDORES -->
            <div class="row">
                <div class="col-md-12">
                    <sepsa:panel id="filtro_proveedores_panel">
                        <f:facet name="panelHeader">
                            Filtros de Búsqueda
                        </f:facet>
                        <f:facet name="panelBody">
                            <ui:include src="/app/abm/proveedor/fragments/tabla_filtros.xhtml" />
                        </f:facet>
                    </sepsa:panel>
                </div>
            </div>

            <div class="row">
                <!-- MENU DE OPCIONES -->
                <div class="col-md-2">
                    <h:form>
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        <sepsa:panel  inlineBody="true" panelId="t">
                            <f:facet name="panelHeader">
                                Opciones
                            </f:facet>
                            <f:facet name="panelBody">
                                <sec:authorize access="hasRole('ROLE_COMPRADOR')" >
                                    <div class="list-group">
                                        <div class="list-group-item app_no_border">
                                            <p:commandButton class="btn-block" value="Nuevo" icon="fa fa-check" action="#{proveedores.initAltaProveedor}" />
                                        </div>
                                    </div>
                                </sec:authorize>
                                <sec:authorize access="hasRole('ROLE_ADMINISTRADOR')" >
                                    <div class="list-group-item app_no_border">
                                        <p:commandButton class="btn-block" value="Cambiar Personería" icon="fa fa-check" action="#{proveedores.initCambiarPersoneria}" />
                                    </div>
                                </sec:authorize>
                                <sec:authorize access="hasRole('ROLE_ADMINISTRADOR')" >
                                    <div class="list-group-item app_no_border">
                                        <p:commandButton class="btn-block" value="Información Contacto" icon="fa fa-check" action="#{proveedores.initVerContacto}" />
                                    </div>
                                </sec:authorize>
                            </f:facet>
                        </sepsa:panel>
                    </h:form>
                </div>

                <!-- LISTA DE PROVEEDORES -->
                <div class="col-md-10">
                    <sepsa:panel id="tabla_proveedores_panel" panelId="s">
                        <f:facet name="panelHeader">
                            <h4 class="app_panel_title pull-left">Lista de Proveedores</h4>
                            <div class="btn-group pull-right">
                                <h:form>
                                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                    <p:commandLink class="btn btn-default btn-sm" action="#{proveedores.recargarListaProveedores}"><i class="fa fa-refresh"/></p:commandLink>
                                </h:form>
                            </div>
                        </f:facet>
                        <f:facet name="panelBody">
                            <ui:include src="/app/abm/proveedor/fragments/tabla_proveedores.xhtml" />
                        </f:facet>
                    </sepsa:panel>
                </div>
            </div>

            <script type="application/javascript">
                $(document).ready(function() {
                var s = $('[data-panel-id="s"]')[0];
                var t = $('[data-panel-id="t"]')[0];
                addStickyOperacionesBehavior(s, t);
                });
            </script>
        </ui:define>
    </ui:composition>
</html>