<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="tabla_proveedores_form">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <p:dataTable
            id="tabla_proveedores"
            binding="#{proveedores.lista.tableBind}"
            var="proveedor"
            value="#{proveedores.lista.items}"
            lazy="true"
            emptyMessage="No existen datos que mostrar"
            paginator="true"
            currentPageReportTemplate="Mostrando {startRecord} a {endRecord} de {totalRecords}"
            paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {SelectedCount}"
            paginatorAlwaysVisible="true"
            paginatorPosition="top"
            selection="#{proveedores.lista.multiSelectedItem}"
            rows="50"
            rowsPerPageTemplate="10,15,20,30,50,100"
            rowKey="#{proveedor.id}"
            reflow="true"
            resizableColumns="true"
            >

            <!-- Elemento que indica la cantidad de filas seleccionadas -->
            <f:facet name="{SelectedCount}">
                <h:outputText class="ui-paginator-current" value=" (#{proveedores.lista.multiSelectedItem.size()} elementos seleccionados)" rendered="#{proveedores.lista.multiSelectedItem.size() > 0}"/>
            </f:facet>

            <!-- Eventos que actualizan las filas seleccionads -->
            <p:ajax event="toggleSelect" update="@parent" />
            <p:ajax event="rowSelect" update="@parent" />
            <p:ajax event="rowUnselect" update="@parent" />
            <p:ajax event="rowSelectCheckbox" update="@parent" />
            <p:ajax event="rowUnselectCheckbox" update="@parent" />
            <p:ajax event="page" oncomplete="$.fn.matchHeight._update();" />

            <p:column selectionMode="multiple" class="app_cbx_selection" style="margin: 0; width: 50px;">
            </p:column>

            <sec:authorize access="hasRole('ROLE_ADMINISTRADOR')" >
                <p:column headerText="ID">
                    <h:outputText value="#{proveedor.id}" id="persona_id"/>
                    <p:tooltip for="persona_id" value="#{proveedor.id}" />
                </p:column>
            </sec:authorize>

            <p:column headerText="Razón Social">
                <h:outputText value="#{proveedor.razonSocial}" id="razon_social"/>
                <p:tooltip for="razon_social" value="#{proveedor.razonSocial}" />
            </p:column>

            <p:column headerText="Personería">
                <h:outputText value="#{proveedores.htmlPersoneria(proveedor)}" id="pesoneria"/>
                <p:tooltip for="pesoneria" value="#{proveedores.htmlPersoneria(proveedor)}" />
            </p:column>

            <p:column headerText="RUC">
                <h:outputText value="#{proveedor.ruc}" id="ruc"/>
                <p:tooltip for="ruc" value="#{proveedor.ruc}" />
            </p:column>

        </p:dataTable>
    </h:form>

</ui:composition>