<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component  xmlns="http://www.w3.org/1999/xhtml"
               xmlns:composite="http://java.sun.com/jsf/composite"
               xmlns:cc="http://java.sun.com/jsf/composite"
               xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
               xmlns:p="http://primefaces.org/ui"
               xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
               xmlns:h="http://xmlns.jcp.org/jsf/html"
               xmlns:f="http://xmlns.jcp.org/jsf/core">

    <composite:interface>
        <composite:attribute name="archivos" required="true" type="java.util.Collection"/>
    </composite:interface>

    <composite:implementation>
        <h:form id="#{cc.id}_form" role="form" style="height: 400px; overflow-y: auto;">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <h3>Archivos Adjuntos</h3>
            <br/>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Fecha de Carga</th>
                        <th>Subido Por</th>
                        <th>Descargar</th>
                    </tr>
                </thead>
                <tbody>
                    <ui:repeat value="#{cc.attrs.archivos}" var="archivo">
                        <tr>
                            <td>
                                <h:outputText value="#{archivo.nombre}" />
                            </td>
                            <td>
                                <h:outputText value="#{archivo.fecha}" styleClass="app_text_uppercase">
                                    <f:convertDateTime pattern="dd/MMM/yyyy HH:mm" />
                                </h:outputText>
                            </td>
                            <td>
                                <span class="label">
                                    <h:outputText value="#{utils.perfilAsSimpleText(archivo.idPerfil.descripcion)}" />
                                </span>
                            </td>
                            <td>
                                <!--
                                El componente p:fileDownload no funciono, se utilizo una alaternativa explicada en https://stackoverflow.com/a/9394237.
                                -->
                                <p:commandButton ajax="false" value="Descargar" icon="fa fa-download" actionListener="#{descargarArchivo.get(archivo.id)}"/> 
                            </td>
                        </tr>
                    </ui:repeat>
                </tbody>
            </table>
        </h:form>
    </composite:implementation>

</ui:component>
