<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component  xmlns="http://www.w3.org/1999/xhtml"
               xmlns:composite="http://java.sun.com/jsf/composite"
               xmlns:cc="http://java.sun.com/jsf/composite"
               xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
               xmlns:p="http://primefaces.org/ui"
               xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <composite:interface>
        <composite:attribute name="W" required="false" default="auto" type="java.lang.String"/>
        <composite:attribute name="wide" required="false" default="true" type="java.lang.Boolean"/>        
    </composite:interface>

    <composite:implementation>
        <c:if test="#{cc.attrs.wide == true}">
            <p:dialog class="app_wide_dialog" widgetVar="#{cc.id}_dlg" modal="true" resizable="false" closable="true" closeOnEscape="true" draggable="false" responsive="true" hideEffect="fade" onShow="ajustarDialogo(this);" onHide="ajustarDialogoCierre(this);" fitViewport="true" >
                <cc:insertChildren />
            </p:dialog>
        </c:if>

        <c:if test="#{cc.attrs.wide == false}">
            <p:dialog class="app_no_wide_dialog" widgetVar="#{cc.id}_dlg" width="#{cc.attrs.W}" modal="true" resizable="false" closable="true" closeOnEscape="true" draggable="false" responsive="true" hideEffect="fade" onShow="ajustarDialogo(this);" onHide="ajustarDialogoCierre(this);" fitViewport="true">
                <cc:insertChildren />
            </p:dialog>
        </c:if>
    </composite:implementation>

</ui:component>
