<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component  xmlns="http://www.w3.org/1999/xhtml"
               xmlns:composite="http://java.sun.com/jsf/composite"
               xmlns:cc="http://java.sun.com/jsf/composite"
               xmlns:h="http://xmlns.jcp.org/jsf/html"
               xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
               xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
               xmlns:f="http://xmlns.jcp.org/jsf/core"
               xmlns:p="http://primefaces.org/ui"
               >

    <composite:interface>
        <composite:facet name="boxBody"/>
        <composite:attribute name="icon" type="java.lang.String" default="" required="false" />
        <composite:attribute name="iconCls" type="java.lang.String" default="" required="false" />
        <composite:attribute name="bodyCls" type="java.lang.String" default="" required="false" />
        <composite:attribute name="style" type="java.lang.String" default="" required="false" />
        <composite:attribute name="styleClass" type="java.lang.String" default="" required="false" />
    </composite:interface>

    <composite:implementation>
        <div class="info-box #{cc.attrs.styleClass}" style="#{cc.attrs.style}">
            <!-- ICONO LATERAL -->
            <span class="info-box-icon #{cc.attrs.iconCls}">
                <i class="#{cc.attrs.icon}"></i>
            </span>

            <!-- CUERPO -->
            <div class="info-box-content #{cc.attrs.bodyCls}">
                <cc:renderFacet name="boxBody"/>
            </div>
        </div>
    </composite:implementation>

</ui:component>