<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component  xmlns="http://www.w3.org/1999/xhtml"
               xmlns:composite="http://java.sun.com/jsf/composite"
               xmlns:cc="http://java.sun.com/jsf/composite"
               xmlns:h="http://xmlns.jcp.org/jsf/html"
               xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
               xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
               xmlns:f="http://xmlns.jcp.org/jsf/core"
               xmlns:p="http://primefaces.org/ui">

    <composite:interface>
        <!-- -->
    </composite:interface>

    <composite:implementation>
        <div>
            <c:if test="#{facesContext.messageList.size() > 0}">
                <div class="alert alert-dismissable #{messages.alertStyleClass}" style="margin: 0 !important;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <ul style="padding: 0; list-style-type: none;">
                        <ui:repeat value="#{facesContext.messageList}" var="message">
                            <li>
                                <strong>
                                    <h:outputText value="#{message.summary}"/>
                                </strong>
                                <h:outputText value=" #{message.detail}"/>
                            </li>
                        </ui:repeat>
                    </ul>
                </div>
            </c:if>
        </div>
    </composite:implementation>

</ui:component>
