<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component  
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:composite="http://java.sun.com/jsf/composite"
    xmlns:cc="http://java.sun.com/jsf/composite"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    >

    <composite:interface>
        <composite:facet name="panelHeader"/>
        <composite:facet name="panelBody"/>
        <composite:attribute name="type" type="java.lang.String" default="default" required="false" />
        <composite:attribute name="style" type="java.lang.String" default="" required="false" />
        <composite:attribute name="inlineBody" type="java.lang.Boolean" default="false" required="false" />
        <composite:attribute name="panelId" type="java.lang.String" required="false" />
    </composite:interface>

    <composite:implementation>
        <div class="panel panel-#{cc.attrs.type}" style="#{cc.attrs.style}" data-panel-id="#{cc.attrs.panelId}" >

            <!-- Cabecera -->
            <c:if test="#{not empty cc.facets.panelHeader}">
                <div class="panel-heading clearfix">
                    <div class="app_panel_title">
                        <cc:renderFacet name="panelHeader" />
                    </div>
                </div>
            </c:if>

            <!-- Cuerpo -->
            <c:choose>
                <c:when test="#{not empty cc.facets.panelBody and cc.attrs.inlineBody}">
                    <cc:renderFacet name="panelBody"/>
                </c:when>
                <c:when test="#{not empty cc.facets.panelBody and not cc.attrs.inlineBody}">
                    <div class="panel-body">
                        <cc:renderFacet name="panelBody"/>
                    </div>
                </c:when>
                <c:otherwise>
                    <!-- sin cuerpo -->
                </c:otherwise>
            </c:choose>
        </div>
    </composite:implementation>

</ui:component>