<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <div class="form-group row">
        <div class="col-md-12">
            <div class="h3">Datos de Comprador</div>
            <hr/>
        </div>
    </div>

    <div class="form-group row">
        <label class="form-control-label col-md-2">Tipo</label>
        <div class="col-md-4">
            <p:inputText class="app_form_input" value="#{usuarioLogueado.htmlPersonaTipo()}" disabled="true" />
        </div>
    </div>

    <div class="form-group row">
        <label class="form-control-label col-md-2">Razón Social</label>
        <div class="col-md-4">
            <p:inputText class="app_form_input" value="#{usuarioLogueado.htmlPersonaRazonSocial()}" disabled="true" />
        </div>
    </div>

    <div class="form-group row">
        <label class="form-control-label col-md-2">RUC</label>
        <div class="col-md-4">
            <p:inputText class="app_form_input" value="#{usuarioLogueado.htmlPersonaRuc()}" disabled="true"/>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-12">
            <hr/>
        </div>
    </div>

    <div class="form-group row">
        <label class="form-control-label col-md-2">Actividad Económica</label>
        <div class="col-md-4">
            <p:selectOneMenu value="#{adhesionEntidadComprador.formBancoRio.actividadEconomica}" class="app_form_input" converter="omnifaces.SelectItemsConverter" var="item" filter="true" filterMatchMode="contains">
                <f:selectItem itemValue="#{null}" itemLabel="" />
                <f:selectItems value="#{adhesionEntidadComprador.bancoRioActividadesEconomicas}" />
                <p:column>
                    <h:outputText value="#{adhesionEntidadComprador.bancoRioActividadEconomicaLabel(item)}" escape="false"/>
                </p:column>
            </p:selectOneMenu>
        </div>
    </div>

    <div class="form-group row">
        <label class="form-control-label col-md-2">Tipo de Sociedad</label>
        <div class="col-md-4">
            <p:selectOneMenu value="#{adhesionEntidadComprador.formBancoRio.tipoSociedad}" class="app_form_input" converter="omnifaces.SelectItemsConverter" var="item" filter="true" filterMatchMode="contains">
                <f:selectItem itemValue="#{null}" itemLabel="" />
                <f:selectItems value="#{adhesionEntidadComprador.bancoRioTiposSociedad}" />
                <p:column>
                    <h:outputText value="#{adhesionEntidadComprador.bancoRioTipoSociedadLabel(item)}" escape="false"/>
                </p:column>
            </p:selectOneMenu>
        </div>
    </div>

    <div class="form-group row">
        <label class="form-control-label col-md-2">Fecha de Constitución</label>
        <div class="col-md-4">
            <p:calendar value="#{adhesionEntidadComprador.formBancoRio.fechaConstitucion}" class="app_text_uppercase app_form_input_addon_right" navigator="true" yearRange="c-100:c+100" pattern="dd/MMM/yyyy" mode="popup" locale="es" readonlyInput="true" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-2">
            <div class="form-control-label">Promedio de Facturación</div>
            <span class="form-text text-muted">Últimos 6 meses</span>
        </div>
        <div class="col-md-4">
            <p:inputText class="app_form_input" value="#{adhesionEntidadComprador.formBancoRio.facturacionPromedio}" onfocus="inputNumericOnFocus(this)">
                <p:ajax event="keyup" update="@this" global="false" delay="200" />
                <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
            </p:inputText>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-12">
            <hr/>
        </div>
    </div>

    <div class="form-group row">
        <label class="form-control-label col-md-2">Barrio</label>
        <div class="col-md-4">
            <p:inputText class="app_form_input" value="#{usuarioLogueado.htmlPersonaBarrio()}" disabled="true" />
        </div>
    </div>

    <div class="form-group row">
        <label class="form-control-label col-md-2">Ciudad</label>
        <div class="col-md-4">
            <p:selectOneMenu value="#{adhesionEntidadComprador.formBancoRio.ciudad}" class="app_form_input" converter="omnifaces.SelectItemsConverter" var="item" filter="true" filterMatchMode="contains">
                <p:ajax listener="#{adhesionEntidadComprador.onBancoRioCiudadSelected}" process="@form" update="@form" />
                <f:selectItem itemValue="#{null}" itemLabel="" />
                <f:selectItems value="#{adhesionEntidadComprador.bancoRioCiudades}" />
                <p:column>
                    <h:outputText value="#{adhesionEntidadComprador.bancoRioCiudadLabel(item)}" escape="false"/>
                </p:column>
            </p:selectOneMenu>
        </div>
    </div>

</ui:composition>