<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <div class="form-group row">
        <div class="col-md-12">
            <div class="h3">Datos de Proveedor</div>
            <hr/>
        </div>
    </div>

    <div class="form-group row">
        <label class="form-control-label col-md-2">Tipo</label>
        <div class="col-md-4">
            <p:inputText class="app_form_input" value="#{usuarioLogueado.htmlPersonaTipo()}" disabled="true" />
        </div>
    </div>

    <h:panelGroup layout="block" class="form-group row" rendered="#{usuarioLogueado.esPersonaJuridica()}">
        <label class="form-control-label col-md-2">Razón Social</label>
        <div class="col-md-4">
            <p:inputText class="app_form_input" value="#{usuarioLogueado.htmlPersonaJuridicaRazonSocial()}" disabled="true" />
        </div>
    </h:panelGroup>

    <h:panelGroup layout="block" class="form-group row" rendered="#{usuarioLogueado.esPersonaFisica()}">
        <label class="form-control-label col-md-2">Nombres</label>
        <div class="col-md-4">
            <p:inputText class="app_form_input" value="#{usuarioLogueado.htmlPersonaFisicaNombres()}" disabled="true"/>
        </div>
    </h:panelGroup>

    <h:panelGroup layout="block" class="form-group row" rendered="#{usuarioLogueado.esPersonaFisica()}">
        <label class="form-control-label col-md-2">Apellidos</label>
        <div class="col-md-4">
            <p:inputText class="app_form_input" value="#{usuarioLogueado.htmlPersonaFisicaApellidos()}" disabled="true"/>
        </div>
    </h:panelGroup>

    <h:panelGroup layout="block" class="form-group row" rendered="#{usuarioLogueado.esPersonaFisica()}">
        <label class="form-control-label col-md-2">Documento de Identidad</label>
        <div class="col-md-4">
            <p:inputText class="app_form_input" value="#{usuarioLogueado.htmlPersonaFisicaCi()}" disabled="true"/>
        </div>
    </h:panelGroup>

    <div class="form-group row">
        <label class="form-control-label col-md-2">RUC</label>
        <div class="col-md-4">
            <p:inputText class="app_form_input" value="#{usuarioLogueado.htmlPersonaRuc()}" disabled="true"/>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-12">
            <hr/>
        </div>
    </div>

    <h:panelGroup layout="block" class="form-group row" rendered="#{usuarioLogueado.esPersonaFisica()}">
        <label class="form-control-label col-md-2">Cédula de Identidad</label>
        <div class="col-md-4">
            <input type="file" id="file_cedula_identidad" />
            <h:inputHidden id="file_cedula_identidad_hidden" value="#{adhesionEntidadProveedor.adhesionProveedorBancoRio.currentInput.cedulaIdentidad}">
                <f:converter converterId="fags.JObjectConverter" />
            </h:inputHidden>
        </div>
    </h:panelGroup>

    <h:panelGroup layout="block" class="form-group row" rendered="#{usuarioLogueado.esPersonaFisica()}">
        <label class="form-control-label col-md-2">Fecha de Nacimiento</label>
        <div class="col-md-4">
            <p:calendar value="#{adhesionEntidadProveedor.adhesionProveedorBancoRio.currentInput.fechaConstitucion}" class="app_text_uppercase app_form_input_addon_right" navigator="true" yearRange="c-100:c+100" pattern="dd/MMM/yyyy" mode="popup" locale="es" readonlyInput="true" />
        </div>
    </h:panelGroup>

    <h:panelGroup layout="block" class="form-group row" rendered="#{usuarioLogueado.esPersonaJuridica()}">
        <label class="form-control-label col-md-2">Cédula Tributaria</label>
        <div class="col-md-4">
            <input type="file" id="file_cedula_tributaria" />
            <h:inputHidden id="file_cedula_tributaria_hidden" value="#{adhesionEntidadProveedor.adhesionProveedorBancoRio.currentInput.cedulaTributaria}">
                <f:converter converterId="fags.JObjectConverter" />
            </h:inputHidden>
        </div>
    </h:panelGroup>

    <div class="form-group row">
        <label class="form-control-label col-md-2">Actividad Económica</label>
        <div class="col-md-4">
            <p:selectOneMenu value="#{adhesionEntidadProveedor.adhesionProveedorBancoRio.currentInput.actividadEconomica}" class="app_form_input" converter="omnifaces.SelectItemsConverter" var="item" filter="true" filterMatchMode="contains">
                <f:selectItem itemValue="#{null}" itemLabel="" />
                <f:selectItems value="#{adhesionEntidadProveedor.adhesionProveedorBancoRio.actividadesEconomicas}" />
                <p:column>
                    <h:outputText value="#{adhesionEntidadProveedor.adhesionProveedorBancoRio.actividadEconomicaLabel(item)}" escape="false"/>
                </p:column>
            </p:selectOneMenu>
        </div>
    </div>

    <h:panelGroup layout="block" class="form-group row" rendered="#{usuarioLogueado.esPersonaJuridica()}">
        <label class="form-control-label col-md-2">Tipo de Sociedad</label>
        <div class="col-md-4">
            <p:selectOneMenu value="#{adhesionEntidadProveedor.adhesionProveedorBancoRio.currentInput.tipoSociedad}" class="app_form_input" converter="omnifaces.SelectItemsConverter" var="item" filter="true" filterMatchMode="contains">
                <f:selectItem itemValue="#{null}" itemLabel="" />
                <f:selectItems value="#{adhesionEntidadProveedor.adhesionProveedorBancoRio.tiposSociedad}" />
                <p:column>
                    <h:outputText value="#{adhesionEntidadProveedor.adhesionProveedorBancoRio.tipoSociedadLabel(item)}" escape="false"/>
                </p:column>
            </p:selectOneMenu>
        </div>
    </h:panelGroup>

    <h:panelGroup layout="block" class="form-group row" rendered="#{usuarioLogueado.esPersonaJuridica()}">
        <label class="form-control-label col-md-2">Fecha de Constitución</label>
        <div class="col-md-4">
            <p:calendar value="#{adhesionEntidadProveedor.adhesionProveedorBancoRio.currentInput.fechaConstitucion}" class="app_text_uppercase app_form_input_addon_right" navigator="true" yearRange="c-100:c+100" pattern="dd/MMM/yyyy" mode="popup" locale="es" readonlyInput="true" />
        </div>
    </h:panelGroup>

    <div class="form-group row">
        <div class="col-md-2">
            <div class="form-control-label">Promedio de Facturación</div>
            <span class="form-text text-muted">Últimos 6 meses</span>
        </div>
        <div class="col-md-4">
            <p:inputText class="app_form_input" value="#{adhesionEntidadProveedor.adhesionProveedorBancoRio.currentInput.facturacionPromedio}" onfocus="inputNumericOnFocus(this)">
                <p:ajax event="keyup" update="@this" global="false" delay="200" />
                <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
            </p:inputText>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-12">
            <hr/>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-2">
            <div>Cuenta para Acreditación</div>
        </div>
        <div class="col-md-4">
            <p:inputText placeholder="Número" class="app_form_input" value="#{adhesionEntidadProveedor.adhesionProveedorBancoRio.currentInput.nroCuenta}"/>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <div>Banco</div>
        </div>
        <div class="col-md-4">
            <p:selectOneMenu value="#{adhesionEntidadProveedor.adhesionProveedorBancoRio.currentInput.banco}" class="app_form_input" converter="omnifaces.SelectItemsConverter" var="banco" filter="true" filterMatchMode="contains">
                <f:selectItem itemValue="#{null}" itemLabel="" />
                <f:selectItems value="#{adhesionEntidadProveedor.adhesionProveedorBancoRio.bancos}" />
                <p:column>
                    <h:outputText value="#{adhesionEntidadProveedor.adhesionProveedorBancoRio.bancoLabel(banco)}" escape="false"/>
                </p:column>
            </p:selectOneMenu>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-12">
            <hr/>
        </div>
    </div>

    <div class="form-group row">
        <label class="form-control-label col-md-2">Barrio</label>
        <div class="col-md-4">
            <p:inputText class="app_form_input" value="#{usuarioLogueado.htmlPersonaBarrio()}" disabled="true" />
        </div>
    </div>

    <div class="form-group row">
        <label class="form-control-label col-md-2">Ciudad</label>
        <div class="col-md-4">
            <p:selectOneMenu value="#{adhesionEntidadProveedor.adhesionProveedorBancoRio.currentInput.ciudad}" class="app_form_input" converter="omnifaces.SelectItemsConverter" var="item" filter="true" filterMatchMode="contains">
                <p:ajax listener="#{adhesionEntidadProveedor.adhesionProveedorBancoRio.onCiudadSelected}" process="@form" update="@form" />
                <f:selectItem itemValue="#{null}" itemLabel="" />
                <f:selectItems value="#{adhesionEntidadProveedor.adhesionProveedorBancoRio.ciudades}" />
                <p:column>
                    <h:outputText value="#{adhesionEntidadProveedor.adhesionProveedorBancoRio.ciudadLabel(item)}" escape="false"/>
                </p:column>
            </p:selectOneMenu>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-12">
            <div class="h3">Referencias</div>
            <hr/>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-12">
            <div class="h4">Comprador</div>
        </div>
    </div>

    <h:panelGroup layout="block" class="form-group row" rendered="#{adhesionEntidadProveedor.adhesionProveedorBancoRio.tieneCompradorReferencia() eq true}">
        <label class="form-control-label col-md-2">Tipo</label>
        <div class="col-md-4">
            <p:inputText class="app_form_input" value="#{adhesionEntidadProveedor.adhesionProveedorBancoRio.htmlCompradorTipo()}" disabled="true" />
        </div>
    </h:panelGroup>

    <h:panelGroup layout="block" class="form-group row" rendered="#{adhesionEntidadProveedor.adhesionProveedorBancoRio.tieneCompradorReferencia() eq true}">
        <label class="form-control-label col-md-2">Razón Social</label>
        <div class="col-md-4">
            <p:inputText class="app_form_input" value="#{adhesionEntidadProveedor.adhesionProveedorBancoRio.htmlCompradorRazonSocial()}" disabled="true" />
        </div>
    </h:panelGroup>

    <h:panelGroup layout="block" class="form-group row" rendered="#{adhesionEntidadProveedor.adhesionProveedorBancoRio.tieneCompradorReferencia() eq true}">
        <label class="form-control-label col-md-2">RUC</label>
        <div class="col-md-4">
            <p:inputText class="app_form_input" value="#{adhesionEntidadProveedor.adhesionProveedorBancoRio.htmlCompradorRuc()}" disabled="true"/>
        </div>
    </h:panelGroup>

    <h:panelGroup layout="block" class="form-group row" rendered="#{adhesionEntidadProveedor.adhesionProveedorBancoRio.tieneCompradorReferencia() eq false}">
        <div class="col-md-12">
            <div class="alert alert-danger">
                Es necesario contar con un comprador previamente adherido a la entidad financiera.
            </div>
        </div>
    </h:panelGroup>

    <h:outputScript library="app" name="/js/adhesion_proveedor_banco_rio.js" target="head"/>
    <script>
        $(document).ready(function () {
            handleFileInput('file_cedula_identidad', 'adhesion_form:file_cedula_identidad_hidden');
            handleFileInput('file_cedula_tributaria', 'adhesion_form:file_cedula_tributaria_hidden');
        });
    </script>

</ui:composition>