<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="adhesion_form">
        <div class="form-group row">
            <div class="col-md-12">
                <div class="h3">Solicitud de Adhesión</div>
                <hr/>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Entidad Financiera</label>
            <div class="col-md-4">
                <p:selectOneMenu value="#{adhesionEntidadProveedor.entidadSelected}" class="app_form_input" converter="omnifaces.SelectItemsConverter" var="entidad" filter="true" filterMatchMode="contains">
                    <p:ajax listener="#{adhesionEntidadProveedor.onEntidadSelectedChanged}" process="@form" update="@form" />
                    <f:selectItem itemValue="#{null}" itemLabel="" />
                    <f:selectItems value="#{adhesionEntidadProveedor.entidadesSeleccionables}" />
                    <p:column>
                        <h:outputText value="#{utils.personaLabel(entidad)}" escape="false"/>
                    </p:column>
                </p:selectOneMenu>
            </div>
        </div>

        <!-- BANCO RIO -->
        <ui:fragment rendered="#{adhesionEntidadProveedor.entidadSeleccionadaEsBancoRio()}">
            <ui:include src="/app/abm/entidades/fragments/adhesion_proveedor_banco_rio.xhtml" />
        </ui:fragment>

        <h:panelGroup layout="block" class="form-group row" rendered="#{adhesionEntidadProveedor.entidadEstaSeleccionada()}">
            <div class="col-md-12">
                <p:commandButton value="Confirmar" action="#{adhesionEntidadProveedor.confirmar}" process="@form" update="@form" />
            </div>
        </h:panelGroup>

        <!-- MENSAJES DE ERROR -->
        <div class="form-group row">
            <div class="col-md-12">
                <sepsa:messages />
            </div>
        </div>
    </h:form>

</ui:composition>