<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="estado_cuenta_banco_rio_dialog_form">
        <h3>Estado de Cuenta</h3>
        <br/>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 30%; max-width: 30%;"></th>
                    <th style="width: 70%; max-width: 70%;"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Monto de Línea de Crédito
                    </td>
                    <td style="text-align: right;">
                        <span>
                            <h:outputText value="#{entidades.respuestaConsultaEstadoCuentaBancoRio.montoLineaCredito}">
                                <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                            </h:outputText>
                            &nbsp;Gs
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Monto Utilizado
                    </td>
                    <td style="text-align: right;">
                        <span>
                            <h:outputText value="#{entidades.respuestaConsultaEstadoCuentaBancoRio.montoUtilizado}">
                                <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                            </h:outputText>
                            &nbsp;Gs
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Monto Pendiente de Autorización
                    </td>
                    <td style="text-align: right;">
                        <span>
                            <h:outputText value="#{entidades.respuestaConsultaEstadoCuentaBancoRio.montoPendienteAutorizacion}">
                                <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                            </h:outputText>
                            &nbsp;Gs
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Monto Disponible
                    </td>
                    <td style="text-align: right;">
                        <span>
                            <h:outputText value="#{entidades.respuestaConsultaEstadoCuentaBancoRio.montoDisponible}">
                                <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                            </h:outputText>
                            &nbsp;Gs
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </h:form>

</ui:composition>