<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="historico_solicitud_adhesion_dialog_form">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

        <h3>Solicitudes de Adhesión</h3>
        <br/>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 20%; max-width: 20%;">Fecha de Solicitud</th>
                    <th style="width: 80%; max-width: 80%;">Respuesta de Entidad</th>
                </tr>
            </thead>
            <tbody>
                <c:forEach items="#{entidades.historicoSolicitudesAdhesion}" var="historico">
                    <tr>
                        <td>
                            <div class="app_historico_fecha">
                                <h:outputText value="#{historico.fechaSolicitud}" class="app_text_uppercase">
                                    <f:convertDateTime pattern="dd/MMM/yyyy HH:mm" />
                                </h:outputText>
                            </div>
                        </td>
                        <!--
                        <td>
                            <div class="app_historico_fecha">
                                <h:outputText value="#{historico.fechaRespuesta}" class="app_text_uppercase">
                                    <f:convertDateTime pattern="dd/MMM/yyyy HH:mm" />
                                </h:outputText>
                            </div>
                        </td>
                        -->
                        <td>
                            <span>
                                <h:outputText value="#{entidades.htmlRespuestaEntidadSolicitud(historico)}" />
                            </span>
                        </td>
                    </tr>
                </c:forEach>
            </tbody>
        </table>

    </h:form>

</ui:composition>