<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="tabla_entidades_form">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <p:dataTable
            id="tabla_entidades"
            binding="#{entidades.lista.tableBind}"
            var="entidad"
            value="#{entidades.lista.items}"
            lazy="true"
            emptyMessage="No existen datos que mostrar"
            paginator="true"
            currentPageReportTemplate="Mostrando {startRecord} a {endRecord} de {totalRecords}"
            paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {SelectedCount}"
            paginatorAlwaysVisible="true"
            paginatorPosition="top"
            selection="#{entidades.lista.multiSelectedItem}"
            rows="10"
            rowsPerPageTemplate="10,15,20,30,50"
            rowKey="#{entidad.id}"
            reflow="true"
            resizableColumns="true"
            >

            <!-- Elemento que indica la cantidad de filas seleccionadas -->
            <f:facet name="{SelectedCount}">
                <h:outputText class="ui-paginator-current" value=" (#{entidades.lista.multiSelectedItem.size()} elementos seleccionados)" rendered="#{entidades.lista.multiSelectedItem.size() > 0}"/>
            </f:facet>

            <!-- Eventos que actualizan las filas seleccionads -->
            <p:ajax event="toggleSelect" update="@parent" />
            <p:ajax event="rowSelect" update="@parent" />
            <p:ajax event="rowUnselect" update="@parent" />
            <p:ajax event="rowSelectCheckbox" update="@parent" />
            <p:ajax event="rowUnselectCheckbox" update="@parent" />
            <p:ajax event="page" oncomplete="$.fn.matchHeight._update();" />

            <p:column selectionMode="multiple" class="app_cbx_selection" style="margin: 0; width: 50px;">
            </p:column>

            <p:column headerText="Razón Social">
                <h:outputText value="#{entidad.razonSocialEntidadFinanciera}" />
            </p:column>

            <p:column headerText="RUC">
                <h:outputText value="#{entidad.rucEntidadFinanciera}" />
            </p:column>

            <p:column headerText="Estado">
                <h:outputText value="#{entidades.htmlEstado(entidad)}" escape="false" />
            </p:column>

            <p:column headerText="Opciones">
                <div class="ui-grid-col-12 text-center">
                    <p:commandButton class="btn btn-block btn-default" value="Ver Solicitudes" action="#{entidades.onVerSolicitudesAdhesion(entidad)}"/>
                </div>
                <div class="ui-grid-col-12" style="height: 1rem;"/>
                <div class="ui-grid-col-12 text-center">
                    <p:commandButton class="btn btn-block btn-default" value="Consultar Estado de Solicitud" action="#{entidades.onConsultarEstadoProveedor(entidad)}"/>
                </div>
                <div class="ui-grid-col-12" style="height: 1rem;"/>
                <div class="ui-grid-col-12 text-center">
                    <p:commandButton class="btn btn-block btn-default" value="Consultar Estado de Cuenta" action="#{entidades.onConsultarEstadoCuenta(entidad)}"/>
                </div>
            </p:column>
        </p:dataTable>
    </h:form>

</ui:composition>