<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:sec="http://www.springframework.org/security/tags"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      >
    <ui:composition template="../../../templates/template.xhtml">
        <ui:define name="content">
            <!-- FILTROS PARA LISTA DE FACTURAS -->
            <div class="row">
                <div class="col-md-12">
                    <sepsa:panel id="filtro_lineas_panel">
                        <f:facet name="panelHeader">
                            Filtros de Búsqueda
                        </f:facet>
                        <f:facet name="panelBody">
                            <ui:include src="/app/abm/linea/fragments/tabla_filtros.xhtml" />
                        </f:facet>
                    </sepsa:panel>
                </div>
            </div>

            <div class="row">
                <sec:authorize access="hasRole('ROLE_ENTIDAD_FINANCIERA')" >
                    <!-- MENU DE OPCIONES -->
                    <div class="col-md-2">
                        <h:form>
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <sepsa:panel  inlineBody="true" panelId="t">
                                <f:facet name="panelHeader">
                                    Opciones
                                </f:facet>
                                <f:facet name="panelBody">
                                    <div class="list-group">
                                        <div class="list-group-item app_no_border">
                                            <p:commandButton class="btn-block" value="Nueva Línea de Crédito" action="#{lineas.initRegistrarLineaCredito}"/>
                                        </div>
                                        <!--
                                        <div class="list-group-item app_no_border">
                                            <p:commandButton class="btn-block" value="Incrementar Línea de Crédito Seleccionada" action="#{lineas.initIncrementoLineaCredito}"/>
                                        </div>
                                        -->
                                    </div>
                                </f:facet>
                            </sepsa:panel>
                        </h:form>
                    </div>
                </sec:authorize>

                <!-- LISTA DE LINEAS DE CREDITO -->
                <div class="#{lineas.getPanelListaClass()}">
                    <sepsa:panel id="tabla_lineas_panel" panelId="s">
                        <f:facet name="panelHeader">
                            <h4 class="app_panel_title pull-left">Lista de Líneas de Crédito</h4>
                            <div class="btn-group pull-right">
                                <h:form>
                                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                    <p:commandLink class="btn btn-default btn-sm" action="#{lineas.recargarListaLineas}"><i class="fa fa-refresh"/></p:commandLink>
                                </h:form>
                            </div>
                        </f:facet>
                        <f:facet name="panelBody">
                            <ui:include src="/app/abm/linea/fragments/tabla_lineas.xhtml" />
                        </f:facet>
                    </sepsa:panel>
                </div>
            </div>

            <!-- Cuadro de dialogo para historico de linea de credito -->
            <sepsa:dialog id="linea_credito_historico_dialog" wide="false" W="60%">
                <ui:include src="/app/abm/linea/fragments/historico.xhtml"/>
            </sepsa:dialog>

            <!-- Cuadro de dialogo para asignacion de linea de credito -->
            <sepsa:dialog id="linea_credito_nuevo_dialog" wide="false" W="40%">
                <ui:include src="/app/abm/linea/fragments/nuevo.xhtml"/>
            </sepsa:dialog>

            <!-- Cuadro de diálogo para visualizar archivos adjuntos -->
            <sepsa:dialog id="archivos_adjuntos_dialog" wide="false" W="60%">
                <sepsa:archivosAdjuntos id="archivos_adjuntos" archivos="#{lineas.archivosAdjuntos}" />
            </sepsa:dialog>

            <script type="application/javascript">
                $(document).ready(function() {
                var s = $('[data-panel-id="s"]')[0];
                var t = $('[data-panel-id="t"]')[0];
                addStickyOperacionesBehavior(s, t);
                });
            </script>
        </ui:define>
    </ui:composition>
</html>