<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="linea_credito_historico_form">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

        <h3>Histórico de Movimientos</h3>
        <br/>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Operación</th>
                    <th>Monto</th>
                    <th>Moneda</th>
                </tr>
            </thead>
            <tbody>
                <c:forEach items="#{lineas.historicoLineaCredito}" var="historico">
                    <tr>
                        <td>
                            <h:outputText value="#{historico.fecha}" styleClass="app_text_uppercase">
                                <f:convertDateTime pattern="dd/MMM/yyyy HH:mm" />
                            </h:outputText>
                        </td>
                        <td>
                            <h:outputText escape="false" value="#{lineas.getHistoricoLineaLabel(historico)}" />
                        </td>
                        <td>
                            <div class="ui-grid-col-12 text-right">
                                <h:outputText value="#{historico.monto}">
                                    <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                                </h:outputText>
                            </div>
                        </td>
                        <td>
                            <h:outputText value="#{historico.moneda.descripcion}" styleClass="app_text_uppercase" />
                        </td>
                    </tr>
                </c:forEach>
            </tbody>
        </table>

    </h:form>

</ui:composition>