<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="linea_credito_nuevo_form">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

        <div class="form-group row">
            <div class="col-md-12">
                <div class="h3">Nueva Línea de Crédito</div>
                <hr/>
            </div>
        </div>

        <div class="form-group row">
            <h:outputLabel class="form-control-label col-md-3" value="Cliente"/>
            <div class="col-md-9">
                <p:selectOneMenu value="#{lineas.registroInput.cliente}" class="app_form_input" var="cliente" converter="omnifaces.SelectItemsConverter" filter="true" filterMatchMode="contains">
                    <f:selectItem itemValue="#{null}" itemLabel="" />
                    <f:selectItems value="#{lineas.clientes}" />
                    <p:column>
                        <h:outputText value="#{utils.personaLabel(cliente)}" escape="false"/>
                    </p:column>
                </p:selectOneMenu>
            </div>
        </div>

        <div class="form-group row">
            <h:outputLabel class="form-control-label col-md-3" value="Tipo de Moneda"/>
            <div class="col-md-9">
                <p:selectOneMenu value="#{lineas.registroInput.moneda}" class="app_form_input" var="moneda" converter="omnifaces.SelectItemsConverter" filter="true" filterMatchMode="contains">
                    <f:selectItem itemValue="#{null}" itemLabel="" />
                    <f:selectItems value="#{monedas.monedas}" />
                    <p:column>
                        <h:outputText value="#{monedas.monedaLabel(moneda)}" escape="false"/>
                    </p:column>
                </p:selectOneMenu>
            </div>
        </div>

        <div class="form-group row">
            <h:outputLabel class="form-control-label col-md-3" value="Monto Asignado"/>
            <div class="col-md-9">
                <p:inputText class="app_form_input" value="#{lineas.registroInput.monto}" onfocus="inputNumericOnFocus(this)">
                    <p:ajax event="keyup" update="@this" global="false" delay="200" />
                    <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                </p:inputText>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-3">Documento/s</label>
            <div class="col-md-9">
                <label style="margin-top: 10px;">Subir Documentos Anexos (máximo 10 elementos)</label>
                <ol>
                    <li>1. Seleccionar archivo/s (tamaño máximo 5MB) con el botón <strong>Seleccionar</strong></li>
                    <li>2. Subir archivo/s con el botón <strong>Subir</strong></li>
                </ol>
                <p:fileUpload fileUploadListener="#{lineas.registroInput.cacheArchivos.onSubirArchivo}" sequential="true" mode="advanced" multiple="true" 
                              sizeLimit="5000000" fileLimit="10" allowTypes="/(\.|\/)(gif|jpe?g|txt|png|docx|xls|pdf)$/" cancelLabel="Cancelar" 
                              label="Seleccionar" uploadLabel="Subir" invalidFileMessage="Archivo inválido!" invalidSizeMessage="Archivo muy grande!" 
                              fileLimitMessage="Se excedió la cantidad de archivos permitidos (10)"
                              />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <p:commandButton value="Confirmar" action="#{lineas.registrarLineaCredito}" />
            </div>
        </div>  

        <div class="form-group row">
            <div class="col-md-12">
                <sepsa:messages />
            </div>
        </div>  

    </h:form>

</ui:composition>