<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="tabla_lineas_form">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <p:dataTable
            id="tabla_lineas"
            binding="#{lineas.lista.tableBind}"
            var="linea"
            value="#{lineas.lista.items}"
            lazy="true"
            emptyMessage="No existen datos que mostrar"
            paginator="true"
            currentPageReportTemplate="Mostrando {startRecord} a {endRecord} de {totalRecords}"
            paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {SelectedCount}"
            paginatorAlwaysVisible="true"
            paginatorPosition="top"
            selection="#{lineas.lista.multiSelectedItem}"
            rows="50"
            rowsPerPageTemplate="10,15,20,30,50,100"
            rowKey="#{linea.id}"
            reflow="true"
            resizableColumns="true"
            >

            <!-- Elemento que indica la cantidad de filas seleccionadas -->
            <f:facet name="{SelectedCount}">
                <h:outputText class="ui-paginator-current" value=" (#{lineas.lista.multiSelectedItem.size()} elementos seleccionados)" rendered="#{lineas.lista.multiSelectedItem.size() > 0}"/>
            </f:facet>

            <!-- Eventos que actualizan las filas seleccionads -->
            <p:ajax event="toggleSelect" update="@parent" />
            <p:ajax event="rowSelect" update="@parent" />
            <p:ajax event="rowUnselect" update="@parent" />
            <p:ajax event="rowSelectCheckbox" update="@parent" />
            <p:ajax event="rowUnselectCheckbox" update="@parent" />
            <p:ajax event="page" oncomplete="$.fn.matchHeight._update();" />

            <p:column selectionMode="multiple" class="app_cbx_selection" style="margin: 0; width: 50px;">
            </p:column>

            <sec:authorize access="hasRole('ROLE_ADMINISTRADOR')" >
                <p:column headerText="ID">
                    <h:outputText value="#{linea.id}" id="linea_id"/>
                    <p:tooltip for="linea_id" value="#{linea.id}" />
                </p:column>
            </sec:authorize>

            <sec:authorize access="! hasRole('ROLE_ENTIDAD_FINANCIERA')" >
                <p:column headerText="Entidad Financiera">
                    <h:outputText value="#{lineas.tmpRazonSocialEntidad(linea)}" id="linea_entidad"/>
                    <p:tooltip for="linea_entidad" value="#{lineas.tmpRazonSocialEntidad(linea)}" />
                </p:column>

                <p:column headerText="RUC">
                    <h:outputText value="#{lineas.tmpRucEntidad(linea)}" id="linea_entidad_ruc"/>
                    <p:tooltip for="linea_entidad_ruc" value="#{lineas.tmpRucEntidad(linea)}" />
                </p:column>
            </sec:authorize>

            <sec:authorize access="hasAnyRole('ROLE_ENTIDAD_FINANCIERA', 'ROLE_ADMINISTRADOR')" >
                <p:column headerText="Cliente">
                    <h:outputText value="#{lineas.tmpRazonSocialCliente(linea)}" id="linea_persona"/>
                    <p:tooltip for="linea_persona" value="#{lineas.tmpRazonSocialCliente(linea)}" />
                </p:column>

                <p:column headerText="RUC">
                    <h:outputText value="#{lineas.tmpRucCliente(linea)}" id="linea_persona_ruc"/>
                    <p:tooltip for="linea_persona_ruc" value="#{lineas.tmpRucCliente(linea)}" />
                </p:column>
            </sec:authorize>

            <p:column headerText="Fecha de Alta">
                <h:outputText value="#{linea.fecha}" id="linea_fecha" styleClass="app_text_uppercase">
                    <f:convertDateTime pattern="dd/MMM/yyyy" locale="es"/>
                </h:outputText>
                <p:tooltip for="linea_fecha" value="#{linea.fecha}" styleClass="app_text_uppercase">
                    <f:convertDateTime pattern="dd/MMM/yyyy" />
                </p:tooltip>
            </p:column>

            <p:column headerText="Monto Asignado">
                <h:outputText value="#{linea.montoTope}" id="linea_monto_tope">
                    <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                </h:outputText>
                <p:tooltip for="linea_monto_tope" value="#{linea.montoTope}">
                    <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                </p:tooltip>
            </p:column>

            <p:column headerText="Monto Disponible">
                <h:outputText value="#{linea.monto}" id="linea_monto">
                    <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                </h:outputText>
                <p:tooltip for="linea_monto" value="#{linea.monto}">
                    <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                </p:tooltip>
            </p:column>

            <p:column headerText="Moneda">
                <h:outputText value="#{linea.moneda.descripcion}" id="linea_moneda" styleClass="app_text_uppercase" />
                <p:tooltip for="linea_moneda" value="#{linea.moneda.descripcion}" />
            </p:column>

            <p:column headerText="Movimientos">
                <div class="ui-grid-col-12 text-center">
                    <p:commandButton class="btn btn-default" icon="fa fa-list" action="#{lineas.verHistoricoLinea(linea.id)}"/>
                </div>
            </p:column>

            <p:column headerText="Archivos Adjuntos">
                <div class="ui-grid-col-12 text-center">
                    <p:commandButton class="btn btn-default" icon="fa fa-paperclip" action="#{lineas.verArchivosAdjuntos(linea.id)}"/>
                </div>
            </p:column>
        </p:dataTable>
    </h:form>

</ui:composition>