<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="filtro_lineas_form" class="form-horizontal" role="form">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <!-- Valores de Filtro -->
        <p:outputPanel id="filtro_lineas_inner">
            <div class="row auto-clear">
                <sec:authorize access="hasRole('ROLE_ADMINISTRADOR')" >
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                        <p:outputLabel class="col-md-3 control-label">ID Línea de Crédito</p:outputLabel>
                        <div class="col-md-9">
                            <p:inputText class="form-control" value="#{lineas.lista.filtro.idLineaCredito}" />
                        </div>
                    </div>
                </sec:authorize>

                <sec:authorize access="! hasRole('ROLE_ENTIDAD_FINANCIERA')" >
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                        <p:outputLabel class="col-md-3 control-label">Razón Social Entidad Financiera</p:outputLabel>
                        <div class="col-md-9">
                            <p:inputText class="form-control" value="#{lineas.lista.filtro.razonSocialEntidadFinanciera}" />
                        </div>
                    </div>
                </sec:authorize>

                <sec:authorize access="hasAnyRole('ROLE_ENTIDAD_FINANCIERA', 'ROLE_ADMINISTRADOR')" >
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                        <p:outputLabel class="col-md-3 control-label">Razón Social Cliente</p:outputLabel>
                        <div class="col-md-9">
                            <p:inputText class="form-control" value="#{lineas.lista.filtro.razonSocialCliente}" />
                        </div>
                    </div>
                </sec:authorize>

                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                    <p:outputLabel class="col-md-3 control-label">Monto Disponible Menor que</p:outputLabel>
                    <div class="col-md-9">
                        <p:inputText class="form-control" value="#{lineas.lista.filtro.montoDisponibleMenor}" />
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                    <p:outputLabel class="col-md-3 control-label">Monto Disponible Mayor que</p:outputLabel>
                    <div class="col-md-9">
                        <p:inputText class="form-control" value="#{lineas.lista.filtro.montoDisponibleMayor}" />
                    </div>
                </div>
            </div>
        </p:outputPanel>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                <div class="col-md-12" style="margin-top: 10px;">
                    <p:commandButton value="#{lineas.btnFiltrarText}" action="#{lineas.filtrarLista}"/>
                    &#160;&#160;
                    <p:commandButton value="Limpiar" action="#{lineas.limpiarFiltroForm}"/>
                </div>
            </div>
        </div>

        <!-- Bloquea el panel de valores de filtro para no permitir la edicion de los mismos -->
        <p:blockUI block="filtro_lineas_inner" widgetVar="bui"/>
    </h:form>

</ui:composition>