<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      >

    <ui:composition template="../../../templates/template.xhtml">
        <ui:define name="content">
            <!-- FILTROS PARA LISTA DE CONVENIOS -->
            <div class="row">
                <div class="col-md-12">
                    <sepsa:panel id="filtro_entidades_panel">
                        <f:facet name="panelHeader">
                            Filtros de Búsqueda
                        </f:facet>
                        <f:facet name="panelBody">
                            <ui:include src="/app/abm/entidades/fragments/tabla_filtros.xhtml" />
                        </f:facet>
                    </sepsa:panel>
                </div>
            </div>

            <div class="row">
                <!-- MENU DE OPCIONES -->
                <div class="col-md-2">
                    <h:form>
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        <sepsa:panel  inlineBody="true" panelId="t">
                            <f:facet name="panelHeader">
                                Opciones
                            </f:facet>
                            <f:facet name="panelBody">
                                <div class="list-group">
                                    <div class="list-group-item app_no_border">
                                        <p:commandButton class="btn-block" value="Solicitar Adhesión" icon="fa fa-plus" action="#{entidades.initSolicitarAdhesion}" />
                                    </div>
                                </div>
                            </f:facet>
                        </sepsa:panel>
                    </h:form>
                </div>

                <!-- LISTA DE ENTIDADES -->
                <div class="col-md-10">
                    <sepsa:panel id="tabla_entidades_panel" panelId="s">
                        <f:facet name="panelHeader">
                            <h4 class="app_panel_title pull-left">Lista de Entidades Financieras</h4>
                            <div class="btn-group pull-right">
                                <h:form>
                                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                    <p:commandLink class="btn btn-default btn-sm" action="#{entidades.recargarListaEntidades}"><i class="fa fa-refresh"/></p:commandLink>
                                </h:form>
                            </div>
                        </f:facet>
                        <f:facet name="panelBody">
                            <ui:include src="/app/abm/entidades/fragments/tabla_entidades.xhtml" />
                        </f:facet>
                    </sepsa:panel>
                </div>
            </div>

            <!-- Cuadro de dialogo para visualizar el historico de solicitudes de adhesion a entidades -->
            <sepsa:dialog id="historico_solicitud_adhesion_dialog" wide="false" W="60%">
                <ui:include src="/app/abm/entidades/fragments/historico_solicitudes_adhesion.xhtml"/>
            </sepsa:dialog>

            <!-- Cuadro de dialogo para visualizar el estado de solicitud de adhesion a entidades -->
            <sepsa:dialog id="estado_solicitud_adhesion_dialog" wide="false" W="60%">
                <ui:include src="/app/abm/entidades/fragments/estado_solicitud_adhesion.xhtml"/>
            </sepsa:dialog>

            <!-- Cuadro de dialogo para visualizar el estado de cuenta con la entidad: Banco Rio -->
            <sepsa:dialog id="estado_cuenta_banco_rio_dialog" wide="false" W="60%">
                <ui:include src="/app/abm/entidades/fragments/estado_cuenta_banco_rio.xhtml"/>
            </sepsa:dialog>

            <script type="application/javascript">
                $(document).ready(function() {
                var s = $('[data-panel-id="s"]')[0];
                var t = $('[data-panel-id="t"]')[0];
                addStickyOperacionesBehavior(s, t);
                });
            </script>
        </ui:define>
    </ui:composition>
</html>