<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="alta_comprador_form">
        <!-- DATOS DE COMPRADOR -->
        <div class="form-group row">
            <div class="col-md-12">
                <div class="h3">Datos de Comprador</div>
                <hr/>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-2">Personería</label>
            <div class="col-md-4">
                <ul>
                    <li>
                        <p:selectBooleanCheckbox itemLabel="Persona Física" value="#{altaComprador.input.esPersonaFisica}">
                            <p:ajax update="@form" process="@form" listener="#{altaComprador.onPersonaFisicaChanged}" />
                        </p:selectBooleanCheckbox>
                    </li>
                    <li>
                        <p:selectBooleanCheckbox itemLabel="Persona Jurídica" value="#{altaComprador.input.esPersonaJuridica}">
                            <p:ajax update="@form" process="@form" listener="#{altaComprador.onPersonaJuridicaChanged}" />
                        </p:selectBooleanCheckbox>
                    </li>
                </ul>
            </div>
        </div>

        <h:panelGroup layout="block" class="form-group row" rendered="#{altaComprador.input.esPersonaFisica eq true}">
            <label class="form-control-label col-md-2">Nombres</label>
            <div class="col-md-4">
                <p:inputText value="#{altaComprador.input.nombres}" class="app_form_input" />
            </div>
        </h:panelGroup>

        <h:panelGroup layout="block" class="form-group row" rendered="#{altaComprador.input.esPersonaFisica eq true}">
            <label class="form-control-label col-md-2">Apellidos</label>
            <div class="col-md-4">
                <p:inputText value="#{altaComprador.input.apellidos}" class="app_form_input" />
            </div>
        </h:panelGroup>

        <h:panelGroup layout="block" class="form-group row" rendered="#{altaComprador.input.esPersonaFisica eq true}">
            <label class="form-control-label col-md-2">Documento de Identidad</label>
            <div class="col-md-4">
                <p:inputText value="#{altaComprador.input.ci}" class="app_form_input" />
            </div>
        </h:panelGroup>

        <h:panelGroup layout="block" class="form-group row" rendered="#{altaComprador.input.esPersonaJuridica eq true}">
            <label class="form-control-label col-md-2">Razón Social</label>
            <div class="col-md-4">
                <p:inputText value="#{altaComprador.input.razonSocial}" class="app_form_input" />
            </div>
        </h:panelGroup>

        <h:panelGroup layout="block" class="form-group row" rendered="#{altaComprador.input.esPersonaJuridica eq true}">
            <label class="form-control-label col-md-2">Nombre de Fantasía</label>
            <div class="col-md-4">
                <p:inputText value="#{altaComprador.input.nombreFantasia}" class="app_form_input" />
            </div>
        </h:panelGroup>

        <div class="form-group row">
            <div class="col-md-2">
                <div class="form-control-label">RUC</div>
                <span class="form-text text-muted">Incluir dígito verificador</span>
            </div>
            <div class="col-md-4">
                <p:inputText value="#{altaComprador.input.ruc}" class="app_form_input" placeholder="XXXXXXX-X"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <p:commandButton value="Guardar" action="#{altaComprador.guardar}" process="@form" update="@form" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <sepsa:messages />
            </div>
        </div>
    </h:form>

</ui:composition>