<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    >

    <h:form id="nuevo_convenio">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

        <div class="form-group row">
            <div class="col-md-12">
                <div class="h3">Nuevo Convenio</div>
                <hr/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <div class="h4">Participantes</div>
            </div>
        </div>

        <div class="form-group row">
            <h:outputLabel class="form-control-label col-md-3" value="Entidad Financiera"/>
            <div class="col-md-9">
                <p:selectOneMenu value="#{altaConvenio.input.entidadFinanciera}" class="app_form_input" var="entidad" converter="omnifaces.SelectItemsConverter" filter="true" filterMatchMode="contains">
                    <f:selectItem itemValue="#{null}" itemLabel="" />
                    <f:selectItems value="#{altaConvenio.entidades}" />
                    <p:column>
                        <h:outputText value="#{utils.personaLabel(entidad)}" escape="false"/>
                    </p:column>
                </p:selectOneMenu>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-3">Aplicar a Todos los Proveedores</label>
            <div class="col-md-9">
                <p:selectBooleanCheckbox value="#{altaConvenio.input.todosLosProveedores}" style="margin: 0px;">
                    <p:ajax process="@form" update="@form" />
                </p:selectBooleanCheckbox>
            </div>
        </div>

        <div class="form-group row">
            <h:outputLabel class="form-control-label col-md-3" value="Proveedor"/>
            <div class="col-md-9">
                <p:selectOneMenu value="#{altaConvenio.input.proveedor}" class="app_form_input" var="proveedor" converter="omnifaces.SelectItemsConverter" filter="true" filterMatchMode="contains" disabled="#{altaConvenio.input.todosLosProveedores eq true}">
                    <f:selectItem itemValue="#{null}" itemLabel="" />
                    <f:selectItems value="#{altaConvenio.proveedores}" />
                    <p:column>
                        <h:outputText value="#{utils.personaLabel(proveedor)}" escape="false"/>
                    </p:column>
                </p:selectOneMenu>
            </div>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-md-3">Aplicar a Todos los Compradores</label>
            <div class="col-md-9">
                <p:selectBooleanCheckbox value="#{altaConvenio.input.todosLosCompradores}" style="margin: 0px;">
                    <p:ajax process="@form" update="@form" />
                </p:selectBooleanCheckbox>
            </div>
        </div>

        <div class="form-group row">
            <h:outputLabel class="form-control-label col-md-3" value="Comprador"/>
            <div class="col-md-9">
                <p:selectOneMenu value="#{altaConvenio.input.comprador}" class="app_form_input" var="comprador" converter="omnifaces.SelectItemsConverter" filter="true" filterMatchMode="contains" disabled="#{altaConvenio.input.todosLosCompradores eq true}">
                    <f:selectItem itemValue="#{null}" itemLabel="" />
                    <f:selectItems value="#{altaConvenio.compradores}" />
                    <p:column>
                        <h:outputText value="#{utils.personaLabel(comprador)}" escape="false"/>
                    </p:column>
                </p:selectOneMenu>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <div class="h4">Comisión</div>
            </div>
        </div>

        <div class="form-group row">
            <h:outputLabel class="form-control-label col-md-3" value="Porcentaje de Comisión por Adelanto"/>
            <div class="col-md-4">
                <div class="input-group">
                    <p:inputText class="app_form_input_addon_right" value="#{altaConvenio.input.porcentajeImponibleComision}" onfocus="inputNumericOnFocus(this)">
                        <p:ajax event="keyup" update="@this" global="false" delay="200" />
                        <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                    </p:inputText>
                    <span class="input-group-addon">%</span>
                </div>
            </div>
            <div class="col-md-5">
                <p:selectOneMenu value="#{altaConvenio.input.tipoTasaComision}" class="app_form_input" converter="omnifaces.SelectItemsConverter">
                    <f:selectItems value="#{altaConvenio.tasasComision}" var="tasaComision" itemLabel="#{tasaComision.descripcion()}" itemValue="#{tasaComision}" />
                </p:selectOneMenu>
            </div>
        </div>

        <div class="form-group row">
            <h:outputLabel class="form-control-label col-md-3" value="Impuesto sobre Comisión"/>
            <div class="col-md-9">
                <div class="input-group">
                    <p:inputText class="app_form_input_addon_right" value="#{altaConvenio.input.porcentajeImpuestoComision}" onfocus="inputNumericOnFocus(this)">
                        <p:ajax event="keyup" update="@this" global="false" delay="200" />
                        <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                    </p:inputText>
                    <span class="input-group-addon">%</span>
                </div>
                <small class="form-text text-muted">Valor porcentual aplicado sobre el monto total de comisión imponible.</small>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <div class="h4">Distribución de Comisión</div>
            </div>
        </div>

        <div class="form-group row">
            <h:outputLabel class="form-control-label col-md-3" value="Comisión SEPSA"/>
            <div class="col-md-9">
                <div class="input-group">
                    <p:inputText class="app_form_input_addon_right" value="#{altaConvenio.input.porcentajeParteComisionSepsa}" onfocus="inputNumericOnFocus(this)">
                        <p:ajax event="keyup" update="@this" global="false" delay="200" />
                        <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                    </p:inputText>
                    <span class="input-group-addon">%</span>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <h:outputLabel class="form-control-label col-md-3" value="Comisión Entidad Financiera"/>
            <div class="col-md-9">
                <div class="input-group">
                    <p:inputText class="app_form_input_addon_right" value="#{altaConvenio.input.porcentajeParteComisionEntidadFinanciera}" onfocus="inputNumericOnFocus(this)">
                        <p:ajax event="keyup" update="@this" global="false" delay="200" />
                        <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                    </p:inputText>
                    <span class="input-group-addon">%</span>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <h:outputLabel class="form-control-label col-md-3" value="Comisión Comprador"/>
            <div class="col-md-9">
                <div class="input-group">
                    <p:inputText class="app_form_input_addon_right" value="#{altaConvenio.input.porcentajeParteComisionComprador}" onfocus="inputNumericOnFocus(this)">
                        <p:ajax event="keyup" update="@this" global="false" delay="200" /> 
                        <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                    </p:inputText>
                    <span class="input-group-addon">%</span>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <div class="h4">Gastos Administrativos</div>
            </div>
        </div>

        <div class="form-group row">
            <h:outputLabel class="form-control-label col-md-3" value="Porcentaje de Gastos Administrativos"/>
            <div class="col-md-9">
                <div class="input-group">
                    <p:inputText class="app_form_input_addon_right" value="#{altaConvenio.input.porcentajeImponibleGastosOperativos}" onfocus="inputNumericOnFocus(this)">
                        <p:ajax event="keyup" update="@this" global="false" delay="200" />
                        <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                    </p:inputText>
                    <span class="input-group-addon">%</span>
                </div>
                <small class="form-text text-muted">Valor porcentual aplicado sobre el monto neto conformado por facturas.</small>
            </div>
        </div>

        <div class="form-group row">
            <h:outputLabel class="form-control-label col-md-3" value="Impuesto sobre Gastos Administrativos"/>
            <div class="col-md-9">
                <div class="input-group">
                    <p:inputText class="app_form_input_addon_right" value="#{altaConvenio.input.porcentajeImpuestoGastosOperativos}" onfocus="inputNumericOnFocus(this)">
                        <p:ajax event="keyup" update="@this" global="false" delay="200" />
                        <f:converter converterId="py.com.sepsa.genisys.web.utils.BigDecimalConverter" />
                    </p:inputText>
                    <span class="input-group-addon">%</span>
                </div>
                <small class="form-text text-muted">Valor porcentual aplicado sobre el monto total de gatos administrativos.</small>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <p:commandButton value="Guardar" action="#{altaConvenio.guardarConvenio}" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <sepsa:messages />
            </div>
        </div>       
    </h:form>

</ui:composition>