<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="tabla_convenios_form">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <p:dataTable
            id="tabla_convenios"
            binding="#{convenios.lista.tableBind}"
            var="convenio"
            value="#{convenios.lista.items}"
            lazy="true"
            emptyMessage="No existen datos que mostrar"
            paginator="true"
            currentPageReportTemplate="Mostrando {startRecord} a {endRecord} de {totalRecords}"
            paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {SelectedCount}"
            paginatorAlwaysVisible="true"
            paginatorPosition="top"
            selection="#{convenios.lista.multiSelectedItem}"
            rows="10"
            rowsPerPageTemplate="10,15,20,30,50"
            rowKey="#{convenio.id}"
            reflow="true"
            resizableColumns="true"
            >

            <!-- Elemento que indica la cantidad de filas seleccionadas -->
            <f:facet name="{SelectedCount}">
                <h:outputText class="ui-paginator-current" value=" (#{convenios.lista.multiSelectedItem.size()} elementos seleccionados)" rendered="#{convenios.lista.multiSelectedItem.size() > 0}"/>
            </f:facet>

            <!-- Eventos que actualizan las filas seleccionads -->
            <p:ajax event="toggleSelect" update="@parent" />
            <p:ajax event="rowSelect" update="@parent" />
            <p:ajax event="rowUnselect" update="@parent" />
            <p:ajax event="rowSelectCheckbox" update="@parent" />
            <p:ajax event="rowUnselectCheckbox" update="@parent" />
            <p:ajax event="page" oncomplete="$.fn.matchHeight._update();" />

            <p:column selectionMode="multiple" class="app_cbx_selection" style="margin: 0; width: 50px;">
            </p:column>

            <p:column headerText="ID">
                <h:outputText value="#{convenio.id}" />
            </p:column>

            <p:column headerText="Comprador">
                <h:outputText value="#{convenio.razonSocialComprador}" />
            </p:column>

            <p:column headerText="Proveedor">
                <h:outputText value="#{convenio.razonSocialProveedor}" />
            </p:column>

            <p:column headerText="Entidad Financiera">
                <h:outputText value="#{convenio.razonSocialEntidadFinanciera}" />
            </p:column>

            <p:column headerText="Tipo">
                <span class="label label-primary app_text_truncated ui-grid-col-12">
                    <h:outputText value="#{convenio.descripcionTipoConvenio}" id="factura_estado"/>
                </span>
            </p:column>

            <p:column headerText="Fecha de Alta">
                <h:outputText value="#{convenio.fechaAlta}" styleClass="app_text_uppercase">
                    <f:convertDateTime pattern="dd/MMM/yyyy" />
                </h:outputText>
            </p:column>

            <p:column headerText="Ver Cargos">
                <div class="ui-grid-col-12 text-center">
                    <p:commandButton class="btn btn-default" icon="fa fa-list" action="#{convenios.initVerCargos(convenio)}"/>
                </div>
            </p:column>

        </p:dataTable>
    </h:form>

</ui:composition>