<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="filtro_notificaciones_form" class="form-horizontal" role="form">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <!-- Valores de Filtro -->
        <p:outputPanel id="filtro_notificaciones_inner">
            <div class="row auto-clear">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                    <p:outputLabel class="col-md-3 control-label">Asunto</p:outputLabel>
                    <div class="col-md-9">
                        <p:selectOneMenu value="#{notificacionesMB.lista.filtro.asunto}" class="app_form_input" converter="omnifaces.SelectItemsConverter">
                            <f:selectItem  itemLabel="TODOS"/>
                            <f:selectItems value="#{notificacionesMB.notificacionAsuntos}" var="asunto" itemLabel="#{asunto}"/>
                        </p:selectOneMenu>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                    <p:outputLabel class="col-md-3 control-label">Leídos</p:outputLabel>
                    <div class="col-md-9">
                        <p:selectOneMenu value="#{notificacionesMB.lista.filtro.leido}" class="app_form_input" converter="omnifaces.SelectItemsConverter">
                            <f:selectItem  itemLabel="TODOS"/>
                            <f:selectItems value="#{notificacionesMB.notificacionLeida}" var="leido" itemLabel="#{leido}"/>
                        </p:selectOneMenu>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                    <p:outputLabel class="col-md-3 control-label">Fecha Desde</p:outputLabel>
                    <div class="col-md-9">
                        <div class="input-group">
                            <p:calendar value="#{notificacionesMB.lista.filtro.fechaInsercionDesde}" class="app_form_input_addon_right" navigator="true" yearRange="c-100:c+100" pattern="dd/MMM/yyyy" mode="popup" locale="es" />
                            <span class="input-group-addon"><i class="fa fa-calendar"/></span>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                    <p:outputLabel class="col-md-3 control-label">Fecha Hasta</p:outputLabel>
                    <div class="col-md-9">
                        <div class="input-group">
                            <p:calendar value="#{notificacionesMB.lista.filtro.fechaInsercionHasta}" class="app_form_input_addon_right" navigator="true" yearRange="c-100:c+100" pattern="dd/MMM/yyyy" mode="popup" locale="es" />
                            <span class="input-group-addon"><i class="fa fa-calendar"/></span>
                        </div>
                    </div>
                </div>
            </div>    
        </p:outputPanel>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 app_padded_10">
                <div class="col-md-12" style="margin-top: 10px;">
                    <p:commandButton value="#{notificacionesMB.btnFiltrarText}" action="#{notificacionesMB.filtrarLista}"/>
                    &#160;&#160;
                    <p:commandButton value="Limpiar" action="#{notificacionesMB.limpiarFiltroForm}"/>
                </div>
            </div>
        </div>

        <!-- Bloquea el panel de valores de filtro para no permitir la edicion de los mismos -->
        <p:blockUI block="filtro_notificaciones_inner" widgetVar="bui"/>
    </h:form>
</ui:composition>