<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:sepsa="http://java.sun.com/jsf/composite/components"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <f:metadata>
        <f:viewParam name="id" value="#{notificacionesContenidoMB.idNotificacionParam}" />
        <f:viewAction action="#{notificacionesContenidoMB.init}"/>
    </f:metadata>

    <ui:composition template="../../../../templates/template.xhtml">
        <ui:define name="content">

            <p:button icon="fa fa-arrow-left" outcome="/app/abm/notificaciones/lista?faces-redirect=true" value="Atrás" />
            <br/>
            <br/>

            <!-- SE DESPLIEGA CUANDO LA NOTIFICACION NO PUEDE SER MOSTRADA -->
            <h:form rendered="#{notificacionesContenidoMB.notificacion == null}">
                <div class="container well">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <div class="h3">Notificación Inválida</div>
                    <hr/>
                    <p>
                        La notificación seleccionada no puede ser mostrada posiblemente porque ya fue eliminada o presenta datos inválidos.
                    </p>
                    <br/>
                    <h:link class="btn btn-primary" value="Volver a Lista de Notificaciones" outcome="/app/abm/notificaciones/lista?faces-redirect=true" />
                </div>
            </h:form>

            <!-- SE DESPLIEGA CUANDO LA NOTIFICACION SI PUEDE SER MOSTRADA -->
            <h:form rendered="#{notificacionesContenidoMB.notificacion != null}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <h:outputText escape="false" value="#{notificacionesContenidoMB.getContenidoNotificacion()}" />
            </h:form>

        </ui:define>
    </ui:composition>

</html>