<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="tabla_notificaciones_form">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <p:dataTable
            id="tabla_notificaciones"
            binding="#{notificacionesMB.lista.tableBind}"
            var="notificacion"
            value="#{notificacionesMB.lista.items}"
            lazy="true"
            emptyMessage="No existen datos que mostrar"
            paginator="true"
            currentPageReportTemplate="Mostrando {startRecord} a {endRecord} de {totalRecords}"
            paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {SelectedCount}"
            paginatorAlwaysVisible="true"
            paginatorPosition="top"
            selection="#{notificacionesMB.lista.multiSelectedItem}"
            rows="50"
            rowsPerPageTemplate="10,15,20,30,50,100"
            rowKey="#{notificacion.id}"
            reflow="true"
            resizableColumns="true"
            >

            <!-- Elemento que indica la cantidad de filas seleccionadas -->
            <f:facet name="{SelectedCount}">
                <h:outputText class="ui-paginator-current" value=" (#{notificacionesMB.lista.multiSelectedItem.size()} elementos seleccionados)" rendered="#{notificacionesMB.lista.multiSelectedItem.size() > 0}"/>
            </f:facet>

            <!-- Eventos que actualizan las filas seleccionads -->
            <p:ajax event="toggleSelect" update="@parent" />
            <p:ajax event="rowSelect" update="@parent" />
            <p:ajax event="rowUnselect" update="@parent" />
            <p:ajax event="rowSelectCheckbox" update="@parent" />
            <p:ajax event="rowUnselectCheckbox" update="@parent" />
            <p:ajax event="page" oncomplete="$.fn.matchHeight._update();" />

            <p:column selectionMode="multiple" class="app_cbx_selection" style="margin: 0; width: 50px;">
            </p:column>

            <p:column headerText="Destinatario">
                <h:outputText  value="#{notificacion.email.email}" id="notificaciones_email"/>
                <p:tooltip for="notificaciones_email" value="#{notificacion.email.email}"/>
            </p:column>

            <p:column headerText="Asunto">
                <h:outputText value="#{notificacionesMB.getAsunto(notificacion.idPlantilla)}" id="notificaciones_asunto"/>
                <p:tooltip for="notificaciones_asunto" value="#{notificacionesMB.getAsunto(notificacion.idPlantilla)}"/>
            </p:column>

            <p:column headerText="Leído" style="text-align: center;">
                <h:outputText escape="false" value="#{notificacionesMB.getLeidoLabel(notificacion)}" id="notificaciones_estado"/>
                <p:tooltip for="notificaciones_estado" value="#{notificacionesMB.getLeidoHumanText(notificacion)}"/>
            </p:column>

            <p:column headerText="Enviado">
                <h:outputText value="#{notificacion.fechaInsercion}" id="notificaciones_fecha_insercion" styleClass="app_text_uppercase">
                    <p:tooltip for="notificaciones_fecha_insercion" value="#{notificacion.fechaInsercion}"/>
                    <f:convertDateTime pattern="dd/MMM/yyyy - hh:mm:ss"/>
                </h:outputText>
            </p:column>

            <p:column headerText="Contenido">
                <div class="ui-grid-col-12 text-center">
                    <p:commandButton class="btn btn-default" icon="fa fa-eye" action="#{notificacionesMB.initVerContenidoNotificacion(notificacion.id)}"/>
                </div>
            </p:column>

            <p:column headerText="Eliminar">
                <div class="ui-grid-col-12 text-center">
                    <p:commandButton class="btn btn-default" icon="fa fa-trash" action="#{notificacionesMB.initEliminarNotificacion(notificacion.id)}"/>
                </div>
            </p:column>
        </p:dataTable>
    </h:form>
</ui:composition>