<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    >

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <sepsa:panel type="default" id="cambiar_password_panel">
                <f:facet name="panelHeader">Cambio de Contraseña</f:facet>
                <f:facet name="panelBody">
                    <h:form id="cambiar_password_form" role="form">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        <div class="form-group">
                            <label>Contraseña Actual</label>
                            <p:inputText type="password" class="app_form_input" value="#{cuenta.passwordActual}" />                                            
                            <small class="form-text text-muted">Ingrese su contraseña actual a modo de verificar la operación.</small>
                        </div>
                        <div class="form-group">
                            <label>Nueva Contraseña</label>
                            <p:inputText type="password" class="app_form_input" value="#{cuenta.passwordActualConfirmacion}" />
                        </div>
                        <div class="form-group">
                            <label>Repetir Contraseña</label>
                            <p:inputText type="password" class="app_form_input" value="#{cuenta.passwordNuevo}" />
                            <small class="form-text text-muted">Por favor vuelva a ingresar la nueva contraseña a ser asociada a su cuenta.</small>
                        </div>
                        <div class="form-group">
                            <p:commandButton type="button" value="Cambiar Contraseña" onclick="PF('confirmar_cambio_contraseña_dlg').show()" />
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <sepsa:messages />
                            </div>
                        </div>

                        <p:confirmDialog message="¿Está seguro que desea modificar su contraseña? En caso de éxito su sesión será terminada de forma automática y deberá volver a iniciar sesión." showEffect="fade" widgetVar="confirmar_cambio_contraseña_dlg">
                            <p:commandButton value="Continuar" action="#{cuenta.cambiarPassword}" oncomplete="PF('confirmar_cambio_contraseña_dlg').hide()" process="@form" update="@form" />
                            <p:commandButton value="Cancelar" oncomplete="PF('confirmar_cambio_contraseña_dlg').hide()" process="@form" update="@form"/>
                        </p:confirmDialog>
                    </h:form>
                </f:facet>
            </sepsa:panel>
        </div>
    </div>

</ui:composition>
