<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    >

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <sepsa:panel type="default">
                <f:facet name="panelHeader">Restauración de Contraseña</f:facet>
                <f:facet name="panelBody">
                    <form>
                        <div class="form-group">
                            <label>Dirección de Correo</label>
                            <p:inputText class="app_form_input" value="" />
                            <small class="form-text text-muted">Por favor ingrese una dirección de correo de manera a continuar con la operación de restauración de contraseña.</small>
                        </div>
                        <div class="form-group">
                            <p:commandButton value="Confirmar" />
                        </div>
                    </form>
                </f:facet>
            </sepsa:panel>
        </div>
    </div>

</ui:composition>
