<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    >

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <sepsa:panel type="primary">
                <f:facet name="panelHeader">
                    Mis Datos
                </f:facet>
                <f:facet name="panelBody">
                    <h:form>
                        <div class="form-group row">
                            <label class="form-control-label col-md-2">Perfil Actual</label>
                            <div class="col-md-10">
                                <p:inputText class="app_form_input" value="#{usuarioLogueado.htmlPerfil()}" disabled="true" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="form-control-label col-md-2">Tipo</label>
                            <div class="col-md-10">
                                <p:inputText class="app_form_input" value="#{usuarioLogueado.htmlPersonaTipo()}" disabled="true" />
                            </div>
                        </div>

                        <h:panelGroup layout="block" class="form-group row" rendered="#{usuarioLogueado.esPersonaJuridica()}">
                            <label class="form-control-label col-md-2">Razón Social</label>
                            <div class="col-md-10">
                                <p:inputText class="app_form_input" value="#{misDatos.formInput.razonSocial}" />
                            </div>
                        </h:panelGroup>

                        <h:panelGroup layout="block" class="form-group row" rendered="#{usuarioLogueado.esPersonaJuridica()}">
                            <label class="form-control-label col-md-2">Nombre de Fantasía</label>
                            <div class="col-md-10">
                                <p:inputText class="app_form_input" value="#{misDatos.formInput.nombreFantasia}" />
                            </div>
                        </h:panelGroup>

                        <h:panelGroup layout="block" class="form-group row" rendered="#{usuarioLogueado.esPersonaFisica()}">
                            <label class="form-control-label col-md-2">Nombres</label>
                            <div class="col-md-10">
                                <p:inputText class="app_form_input" value="#{misDatos.formInput.nombres}" />
                            </div>
                        </h:panelGroup>

                        <h:panelGroup layout="block" class="form-group row" rendered="#{usuarioLogueado.esPersonaFisica()}">
                            <label class="form-control-label col-md-2">Apellidos</label>
                            <div class="col-md-10">
                                <p:inputText class="app_form_input" value="#{misDatos.formInput.apellidos}" />
                            </div>
                        </h:panelGroup>

                        <h:panelGroup layout="block" class="form-group row" rendered="#{usuarioLogueado.esPersonaFisica()}">
                            <label class="form-control-label col-md-2">Documento de Identidad</label>
                            <div class="col-md-10">
                                <p:inputText class="app_form_input" value="#{misDatos.formInput.ci}" />
                            </div>
                        </h:panelGroup>

                        <div class="form-group row">
                            <label class="form-control-label col-md-2">RUC</label>
                            <div class="col-md-10">
                                <p:inputText class="app_form_input" value="#{misDatos.formInput.ruc}" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <hr/>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="form-control-label col-md-2">Ciudad</label>
                            <div class="col-md-10">
                                <p:inputText class="app_form_input" value="#{misDatos.formInput.ciudad}" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="form-control-label col-md-2">Barrio</label>
                            <div class="col-md-10">
                                <p:inputText class="app_form_input" value="#{misDatos.formInput.barrio}" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="form-control-label col-md-2">Calle 1</label>
                            <div class="col-md-10">
                                <p:inputText class="app_form_input" value="#{misDatos.formInput.calle1}" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="form-control-label col-md-2">Calle 2</label>
                            <div class="col-md-10">
                                <p:inputText class="app_form_input" value="#{misDatos.formInput.calle2}" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="form-control-label col-md-2">Nro. Casa</label>
                            <div class="col-md-10">
                                <p:inputText class="app_form_input" value="#{misDatos.formInput.nroCasa}" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <hr/>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="form-control-label col-md-2">Nro. Teléfono</label>
                            <div class="col-md-10">
                                <p:inputText class="app_form_input" value="#{misDatos.formInput.nroTelefono}" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="form-control-label col-md-2">Nro. Celular</label>
                            <div class="col-md-10">
                                <p:inputText class="app_form_input" value="#{misDatos.formInput.nroCelular}" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="form-control-label col-md-2">E-mail</label>
                            <div class="col-md-10">
                                <p:inputText class="app_form_input" value="#{misDatos.formInput.email}" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <hr/>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <p:commandButton value="Actualizar" action="#{misDatos.onActualizar}" process="@form" update="@form" />
                            </div>
                        </div>

                        <!-- MENSAJES DE ERROR -->
                        <div class="form-group row">
                            <div class="col-md-12">
                                <sepsa:messages />
                            </div>
                        </div>
                    </h:form>
                </f:facet>
            </sepsa:panel>
        </div>
    </div>

</ui:composition>
