<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <form class="form-horizontal">
        <div class="row">
            <div class="col-md-6">
                <label>Nombres</label>
                <input type="text" class="form-control" placeholder="Nombre" />
            </div>
            <div class="col-md-6">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Dirección de Correo" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Comentario</label>
                <textarea class="form-control" rows="4" style="resize: none;" />
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
                <input class="btn btn-primary" type="submit" value="Enviar" />
            </div>
        </div>
    </form>

</ui:composition>
