<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <div id="app_footer" class="footer" style="padding: 10px 0;">
        <div class="container">
            <!--
            <dl class="footer-nav">
                <dt class="nav-title">CONTACTO</dt>
                <dd class="nav-item"><a href="#"><i class="fa fa-phone"></i> (021) 238-7500 </a></dd>
                <dd class="nav-item"><a href="#"><i class="fa fa-envelope"></i> info@sepsa.com.py</a></dd>
            </dl>
            <dl class="footer-nav">
                <dt class="nav-title">CLIENTES</dt>
                <dd class="nav-item"><a href="#">Compradores</a></dd>
                <dd class="nav-item"><a href="#">Proveedores</a></dd>
                <dd class="nav-item"><a href="#">Entidades Financieras</a></dd>
            </dl>
            <dl class="footer-nav">
                <dt class="nav-title">OTROS PRODUCTOS</dt>
                <dd class="nav-item"><a href="#">Siedi</a></dd>
                <dd class="nav-item"><a href="#">Tracking</a></dd>
                <dd class="nav-item"><a href="#">Catálogo</a></dd>
            </dl>
            <dl class="footer-nav">
                <dt class="nav-title">LEGAL</dt>
                <dd class="nav-item"><h:link value="Preguntas Frecuentes" outcome="/app/faq?faces-redirect=true" /></dd>
                <dd class="nav-item"><h:link value="Términos y Condiciones" outcome="/app/terms?faces-redirect=true" /></dd>
            </dl>
            <dl class="footer-nav">
                <dt class="nav-title">REFERENCIA</dt>
                <dd class="nav-item"><h:graphicImage library="app" name="/img/map.jpg" styleClass="img-responsive" style="margin: 0 auto;"/></dd>
            </dl>
            -->
            <div class="footer-copyright text-center">Copyright © 2016. SEPSA. Derechos Reservados.</div>
        </div>
    </div>
</ui:composition>
