<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <nav id="app_top_header" class="navbar navbar-primary app_menu" >
        <div class="container-fluid">
            <div class="navbar-header">
                <h:form>
                    <h:commandLink class="navbar-brand text-center" action="/app/home?faces-redirect=true" style="width:100%; height: 4rem; padding-top: 5px; padding-bottom: 5px;">
                        <img class="navbar-btn" src="#{bPersonalizaciones.imgLogo.valor}" alt="" style="width: auto; height: 4rem; margin: 0px;" />
                    </h:commandLink>
                </h:form>
            </div>

            <!-- Menú Principal de la cabecera -->
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="#"><i class="fa fa-phone"></i>&nbsp;#{bPersonalizaciones.contactoTelefono.valor}</a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i>&nbsp;#{bPersonalizaciones.contactoEmail.valor}</a></li>
                </ul>
            </div>
        </div>
    </nav>
</ui:composition>
