<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:sepsa="http://java.sun.com/jsf/composite/components"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html">

    <div style="margin-top: 30px;"/>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <sepsa:infoBox icon="fa fa-warning" iconCls="bg-red-dark" >
                <f:facet name="boxBody">
                    <span class="info-box-text">Facturas con Fecha de Cobro Atrasadas</span>
                    <span class="info-box-text-important"><h:outputText value="#{facturasStats.totalPagadasVencidas}" /></span>
                </f:facet>
            </sepsa:infoBox>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <sepsa:infoBox icon="fa fa-check-circle" iconCls="bg-green-dark" >
                <f:facet name="boxBody">
                    <span class="info-box-text">Facturas a Cobrar Hoy</span>
                    <span class="info-box-text-important"><h:outputText value="#{facturasStats.totalPagadasAVencerHoy}" /></span>
                </f:facet>
            </sepsa:infoBox>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <sepsa:infoBox icon="fa fa-info-circle" iconCls="bg-yellow-dark" >
                <f:facet name="boxBody">
                    <span class="info-box-text">Facturas con Fecha de Cobro Próximo</span>
                    <span class="info-box-text-important"><h:outputText value="#{facturasStats.totalPagadasAVencer}" /></span>
                </f:facet>
            </sepsa:infoBox>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <sepsa:infoBox icon="fa fa-dollar" iconCls="bg-blue-jean-dark" >
                <f:facet name="boxBody">
                    <span class="info-box-text">Facturas por Desembolsar</span>
                    <span class="info-box-text-important"><h:outputText value="#{facturasStats.totalADesembolsar}" /></span>
                </f:facet>
            </sepsa:infoBox>
        </div>
    </div>

    <sepsa:panel type="success" rendered="#{facturasStats.pagadasAVencerHoy.size() > 0}">
        <f:facet name="panelHeader">
            Facturas a Cobrar Hoy
        </f:facet>
        <f:facet name="panelBody">
            <ui:include src="/app/abm/factura/fragments/tabla_facturas_vencimiento.xhtml">
                <ui:param name="listaFacturas" value="#{facturasStats.pagadasAVencerHoy}"/>
            </ui:include>
        </f:facet>
    </sepsa:panel>

    <sepsa:panel type="danger" rendered="#{facturasStats.pagadasVencidas.size() > 0}">
        <f:facet name="panelHeader">
            Facturas con Fecha de Cobro Atrasadas
        </f:facet>
        <f:facet name="panelBody">
            <ui:include src="/app/abm/factura/fragments/tabla_facturas_vencimiento.xhtml">
                <ui:param name="listaFacturas" value="#{facturasStats.pagadasVencidas}"/>
            </ui:include>
        </f:facet>
    </sepsa:panel>

    <sepsa:panel type="warning" rendered="#{facturasStats.pagadasAVencer.size() > 0}">
        <f:facet name="panelHeader">
            Facturas con Fecha de Cobro Próximo
        </f:facet>
        <f:facet name="panelBody">
            <ui:include src="/app/abm/factura/fragments/tabla_facturas_vencimiento.xhtml">
                <ui:param name="listaFacturas" value="#{facturasStats.pagadasAVencer}"/>
            </ui:include>
        </f:facet>
    </sepsa:panel>

</ui:composition>
