<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:sec="http://www.springframework.org/security/tags"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    >

    <nav class="navbar navbar-secondary app_menu app_shadowed_content">
        <div class="container-fluid">
            <!-- Boton que habilita el colapso del menu en pequeñas pantallas -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app_menu_content" aria-expanded="false">
                    <span class="sr-only">Mostrar Menú</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Menú de funcionalidades principales -->
            <div class="collapse navbar-collapse" id="app_menu_content">
                <sec:authorize access="isAuthenticated() and ! hasRole('ROLE_PARTIAL_AUTHENTICATION')">
                    <ul class="nav navbar-nav">
                        <!-- LISTA DE FACTURAS -->
                        <li>
                            <h:form>
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                <h:link class="btn btn-link navbar-btn" outcome="/app/abm/factura/lista?faces-redirect=true" value="Facturas" />
                            </h:form>
                        </li>
                    </ul>
                </sec:authorize>

                <sec:authorize access="hasAnyRole('ROLE_ADMINISTRADOR', 'ROLE_COMPRADOR')" >
                    <ul class="nav navbar-nav">
                        <!-- PROVEEDORES HABILITADOS -->
                        <h:link class="btn btn-link navbar-btn" value="Proveedores" outcome="/app/abm/proveedor/lista?faces-redirect=true" />
                    </ul>
                </sec:authorize>

                <sec:authorize access="hasAnyRole('ROLE_ADMINISTRADOR', 'ROLE_PROVEEDOR')" >
                    <ul class="nav navbar-nav">
                        <!-- COMPRADORES HABILITADOS -->
                        <h:link class="btn btn-link navbar-btn" value="Compradores" outcome="/app/abm/comprador/lista?faces-redirect=true" />
                    </ul>
                </sec:authorize>

                <sec:authorize access="hasAnyRole('ROLE_PROVEEDOR', 'ROLE_COMPRADOR')" >
                    <ul class="nav navbar-nav">
                        <!-- ENTIDAD FINANCIERAS HABILITADAS -->
                        <h:link class="btn btn-link navbar-btn" value="Entidades Financieras" outcome="/app/abm/entidades/lista?faces-redirect=true" />
                    </ul>
                </sec:authorize>

                <sec:authorize access="hasRole('ROLE_ADMINISTRADOR')" >
                    <ul class="nav navbar-nav">
                        <!-- CONVENIOS -->
                        <h:link class="btn btn-link navbar-btn" value="Convenios" outcome="/app/abm/convenio/lista?faces-redirect=true" />
                    </ul>
                </sec:authorize>

                <sec:authorize access="hasAnyRole('ROLE_PROVEEDOR', 'ROLE_ADMINISTRADOR')" >
                    <ul class="nav navbar-nav">
                        <!-- CALCULADORA DE OPERACIONES -->
                        <li>
                            <h:form>
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                <h:link class="btn btn-link navbar-btn" outcome="/app/calculator?faces-redirect=true" value="Calculadora de Operaciones" />
                            </h:form>
                        </li>
                    </ul>
                </sec:authorize>

                <sec:authorize access="hasRole('ROLE_ADMINISTRADOR')" >
                    <ul class="nav navbar-nav">
                        <!-- CONVENIOS -->
                        <h:link class="btn btn-link navbar-btn" value="Usuarios" outcome="/app/abm/usuarios/lista?faces-redirect=true" />
                    </ul>
                </sec:authorize>

                <!-- DESHABILITAR TEMPORALMENTE LA VISTA DE ACCESO A LA LISTA DE CARGOS HASTA QUE SE CORRIGA -->
                <sec:authorize access="hasRole('ROLE_ENTIDAD_FINANCIERA')" >
                    <ul class="nav navbar-nav">
                        <!-- CALCULADORA DE OPERACIONES -->
                        <li>
                            <h:form>
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                <h:link class="btn btn-link navbar-btn" outcome="/app/calculator?faces-redirect=true" value="Calculadora de Operaciones" />
                            </h:form>
                        </li>
                    </ul>
                </sec:authorize>

                <!-- 
                    LINEAS DE CREDITO 
                    NOTE: DESHABILITADO HASTA NUEVO AVISO.
                -->
                <!--
                <ul class="nav navbar-nav">
                    <li>
                        <h:form>
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <h:link class="btn btn-link navbar-btn" outcome="/app/abm/linea/lista?faces-redirect=true" value="Líneas de Crédito" />
                        </h:form>
                    </li>
                </ul>
                -->

                <ul class="nav navbar-nav">
                    <!-- NOTIFICACIONES -->
                    <li>
                        <h:form>
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <h:link class="btn btn-link navbar-btn" outcome="/app/abm/notificaciones/lista?faces-redirect=true" value="Notificaciones" />
                        </h:form>
                    </li>
                </ul>

                <sec:authorize access="hasRole('ROLE_ADMINISTRADOR')" >
                    <ul class="nav navbar-nav">
                        <li>
                            <h:form>
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                <h:link class="btn btn-link navbar-btn" outcome="/app/abm/integracion_entidades/lista?faces-redirect=true" value="Integraciones" />
                            </h:form>
                        </li>
                    </ul>
                </sec:authorize>

                <!-- Se utilizan entidades html en forma hexadecimal segun se indica en: https://stackoverflow.com/a/13012488 -->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <h:form>
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <h:commandLink class="btn btn-link navbar-btn" action="/app/account?faces-redirect=true">
                                <i class="fa fa-user"></i>&#160;&#160;<h:outputText value="#{usuarioLogueado.usuario.usuario}"/>
                            </h:commandLink>
                        </h:form>
                    </li>
                    <li>
                        <h:form>
                            <h:commandLink class="btn btn-link navbar-btn" action="#{bSesion.onLogout()}">
                                Cerrar Sesión
                            </h:commandLink>
                        </h:form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</ui:composition>
